body {
	background-color: #000;
	color: #fff;
	font-family: "Manrope", sans-serif;
}

.container {
	
}

.header {
	background-image: url("../img/banner.svg");
}

.header__inner {
	display: flex;
	align-items: center;
}

.banner__title,
.section__title {
	font-family: "Cormorant Garamond", serif;
}

.header__ul {
	display: flex;
	padding: 0;
}

.header__li {
	list-style-type: none;
}

.header__li + .header__li {
	margin-left: 20px;
}

