/* ======= GLOBAL STYLES ======= */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;

  background-color: transparent;
  color: inherit;
  border: 0;

  appearance: none;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font: 400 16px/1.5 Manrope, Arial, Helvetica, sans-serif;
  
  background-color: #000;
  color: #fff;
}

body.locked {
  overflow: hidden;
}

.container {
  max-width: 1340px;
  padding: 0 10px;
  margin: 0 auto;
}

.section {
  margin: 120px 0;
}

.section__title {
  margin-bottom: 12px;

  font: 600 64px/1.25 "Cormorant Garamond", Georgia, "Times New Roman", serif;
  text-align: center;
  text-transform: capitalize;
}

.section__text {
  max-width: 754px;
  margin: 0 auto 80px;

  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input {
  padding: 16px 32px;

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  color: rgba(255, 255, 255, 0.7);
}

.input::placeholder {
  font: inherit;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.4);
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select {
  padding: 24px 32px;
  width: 100%;

  border-radius: 12px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select::-ms-expand {
  display: none;
}

.select-wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 32px;
  z-index: 2;

  width: 24px;
  height: 24px;

  background: url("../img/select-arrow.svg") center/contain no-repeat;
  transform: translateY(-50%);
}

.select__option {
  background-color: #000000;
}

.button {
  padding: 17px 32px;

  text-transform: capitalize;

  border: 0;
  border-radius: 12px;
  color: #151515;
  background-color: #cea561;
  
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: #f1b85b;
}

.button--transparent {
  background-color: transparent;
  border: 1px solid #cea561;
  color: #ffffff;
}

.button--transparent:hover {
  background-color: #cea561;
  color: #000000;
}


/* ======= HEADER ======= */

.header {
  background: center/cover no-repeat;
  overflow: hidden;
}

.header__inner {
  padding-top: 40px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font: 600 28.44px/1.38 Spartan, Helvetica, Arial, sans-serif;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.logo__text--transparent {
  margin-right: 4.63px;
  color: #1b1b1b;
  text-shadow: 0.85px 0.85px #ffffff, -0.85px -0.85px #ffffff,
               0.85px -0.85px #ffffff, -0.85px 0.85px #ffffff;
}

.logo__text--brown {
  font-weight: 400;
  color: #cea561;
}

.header__logo {
  position: relative;
  z-index: 2;
}

.header__list {
  display: flex;
}

.header__item {
  border-bottom: 1px solid transparent;
}

.header__item:not(.header__item--selected):hover {
  border-bottom: 1px solid #ffffff;
}

.header__item:not(:last-child) {
  margin-right: 32px;
}

.header__link--drop-down {
  position: relative;
  padding-right: 16px;
}

.header__link--drop-down::after {
  content: '';
  position: absolute;
  bottom: 4px;
  right: 0;

  width: 12px;
  height: 12px;

  background: url("../img/arrow-down.svg") center/contain no-repeat;
}

.header__item--selected {
  color: #cea561;
  border-bottom: 1px solid #cea561;
}

.header__item-sign-up {
  display: none;
}

.header__buttons > *:not(:last-child) {
  margin-right: 24px;
}

.header__buttons {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
}

.header__button {
  width: 32px;
  height: 32px;

  border-radius: 50%;
  background: #cea561 center no-repeat;
}

.header__button--basket {
  background-image: url("../img/cart.svg");
}

.header__button--search {
  background-image: url("../img/search.svg");
}

.menu-button {
  position: relative;
  z-index: 2;

  display: none;
  width: 44px;
  height: 44px;
}

.menu-button__line,
.menu-button__line::before,
.menu-button__line::after {
  position: absolute;
  top: 20px;
  left: 4px;

  width: 30px;
  height: 2px;

  background-color: #cea561;
  transition: transform 0.5s, top 0.5s, bottom 0.5s;
}

.menu-button__line::before,
.menu-button__line::after {
  content: '';
  top: 10px;
  transform: translateX(-4px);
}

.menu-button__line::after {
  top: auto;
  bottom: 10px;
}

.menu-button--active .menu-button__line {
  background-color: transparent;
}

.menu-button--active .menu-button__line::before {
  transform: rotate(-45deg);
  top: 0;
}

.menu-button--active .menu-button__line::after {
  transform: rotate(45deg);
  bottom: 0;
}


/* ======= BANNER ======= */

.banner {
  padding: 96px 0 192px;
  text-align: center;
}

.banner__title {
  margin-bottom: 8px;

  font: 600 80px/1.2 "Cormorant Garamond", Georgia, "Times New Roman", serif;
}

.banner__text {
  font-size: 20px;
  line-height: 1.4;

  color: rgba(255, 255, 255, 0.5);
}


/* ======= MAIN ======= */

.main {
  flex: 1 0 auto;
  overflow: hidden;
}


/* ======= SERVICES ======= */

.services__grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -24px -48px 0;
}

.services__text {
  max-width: 620px;
}

.services__item {
  max-width: 312px;
  width: 100%;
  padding: 110px 50px;
  margin: 0 24px 48px 0;

  text-align: center;

  border-radius: 12px;
  border: solid 1px #cea561;
}

.services__item::before {
  content: '';
  display: block;
  width: 110px;
  height: 90px;
  margin: 0 auto 32px;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.services__item--haircut::before {
  background-image: url("../img/haircut.png");
}

.services__item--shaving::before {
  background-image: url("../img/shaving.png");
}

.services__item--hairdye::before {
  background-image: url("../img/hairdye.png");
}

.services__item--facial::before {
  background-image: url("../img/facial.png");
}

.services__item--treatment::before {
  background-image: url("../img/treatment.png");
}

.services__item--removal::before {
  background-image: url("../img/removal.png");
}

.services__item--wedding::before {
  background-image: url("../img/wedding.png");
}

.services__name {
  font: 500 48px/64px "Cormorant Garamond", Georgia, "Times New Roman", serif;
}


/* ======= PACKAGES ======= */

.packages__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -24px -48px 0;
}

.package {
  max-width: 424px;
  padding: 48px 67px;
  margin: 0 24px 48px 0;

  text-align: center;

  background-color: #2b2b2b;
  border: 1px solid #cea561;
  border-radius: 12px;
  color: #ececec;
}

.package__title {
  width: 100%;
  margin-bottom: 12px;

  font-size: 32px;
  font-weight: 500;
}

.package__price {
  margin-bottom: 32px;

  font-size: 40px;
  font-weight: 600;
}

.package__price-dollar {
  font-size: 32px;
  color: rgba(255, 255, 255, 0.7);
}

.package__ul {
  margin-bottom: 56px;
  text-align: left;
  color: rbga(255, 255, 255, 0.7);
}

.package__li {
  position: relative;
  padding-left: 32px;
}

.package__li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 24px;
  height: 24px;

  background: url("../img/checkmark.svg") center/contain no-repeat;
}

.package__li:not(:last-child) {
  margin-bottom: 16px;
}

.package__button {
  padding: 16px 48px;
}


/* ======= CALENDAR ======= */

.air-datepicker.-inline- {
  display: block;
  max-width: 648px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 25px;
  
  font-family: Manrope, Arial, Helvetica, sans-serif;;
  font-size: 20px;
  line-height: 1.25;

  color: #ffffff;
  border-radius: 13px;
  border: 1px solid #cea561;
  background-color: #2b2b2b;
}

.appointment .air-datepicker.-inline- {
  margin-bottom: 72px;
}

.-inline- .air-datepicker-nav {
  position: relative;

  height: 44px;
  padding: 0;
  margin: 16px 26px 0 16px;

  border: 0;
}

.-inline- .air-datepicker-nav--title {
  position: relative;
  padding: 0 15px 0 0;

  font-size: 17px;
  line-height: 0.77;
  font-weight: 600;

  color: #ffffff;
}

.-inline- .air-datepicker-nav--title:hover {
  background-color: transparent;
}

.-inline- .air-datepicker-nav--title i {
  color: #ffffff;
}

.-inline- .air-datepicker-nav--title::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;

  width: 7px;
  height: 11px;

  background: url("../img/arrow.svg") center/contain no-repeat;
  transform: translateY(-50%);
}

.-inline- [data-action=prev],
.-inline- [data-action=next] {
  position: absolute;
  top: 50%;
  right: 0;

  width: 10px;
  height: 17px;

  background: transparent url("../img/arrow.svg") center no-repeat;
  border-radius: 50%;
  transform: translateY(-50%);
}

.-inline- [data-action=prev] {
  right: 31px;
  background-image: url("../img/arrow-backward.svg");
}

.-inline- [data-action=prev]:hover,
.-inline- [data-action=next]:hover {
  background-color: transparent;
}

.-inline- .air-datepicker-body--cells {
  grid-auto-rows: 46px;
}

.-inline- .air-datepicker-body--day-name {
  font-size: 13px;
  line-height: 1.38;

  color: rgba(235, 235, 245, 0.3);
}

.-inline- .air-datepicker-cell {
  width: 40px;
  height: 40px;
  place-self: center;

  border-radius: 50%;
  transition: color 0.3s, background-color 0.3s;
}

.-inline- .air-datepicker-cell.-year-,
.-inline- .air-datepicker-cell.-month- {
  padding: 0 5px;
  box-sizing: content-box;
}

.-inline- .air-datepicker-cell.-other-month- {
  visibility: hidden;
}

.-inline- .air-datepicker-cell.-current- {
  color: #ffffff;
}

.-inline- .air-datepicker-cell.-focus- {
  color: #000000;
}

.-inline- .air-datepicker-cell.-disabled- {
  color: rgba(255, 255, 255, 0.3);
  cursor: default;
}

.-inline- .air-datepicker-cell.-disabled-.-focus- {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.-inline- .air-datepicker-cell.-selected- {
  color: #151515;
  background-color: #cea561;
}


/* ======= APPOINTMENT ======= */

.appointment__form-title {
  margin-bottom: 48px;

  font-size: 32px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

.appointment__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.appointment__button {
  padding: 20px 34px;
}

.appointment__button:not(:last-child) {
  margin-right: 24px;
}

.appointment__button--active {
  background-color: #cea561;
  color: #000000;
}

.appointment__inputs {
  margin: 0 -24px 8px 0;
}

.appointment__input,
.appointment__select-wrapper {
  width: 47%;
  margin: 0 24px 40px 0;
}

.appointment__input {
  padding: 24px 32px;
}

.appointment__button-submit {
  display: block;
  margin: 0 auto;
}


/* ======= MAILING-LIST ======= */

.mailing-list {
  padding: 120px 0;
  margin-top: 120px;

  background-color: #1b1b1b;
}

.mailing-list__inner {
  max-width: 640px;
  margin: 0 auto;
}

.mailing-list__text {
  margin-bottom: 32px;
}

.mailing-list__form {
  position: relative;

  max-width: 532px;
  margin: 0 auto;
  height: 100%;
}

.mailing-list__input {
  width: 100%;
  padding-right: 135px;
}

.mailing-list__button {
  position: absolute;
  right: 0;
  top: 50%;

  transform: translateY(-50%);
}


/* ======= FOOTER ======= */

.footer {
  color: rgba(255, 255, 255, 0.5);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 120px 0 88px;
  flex-wrap: wrap;
}

.footer__logo {
  display: inline-block;
}

/* ======= FOOTER__SOCIAL-MEDIA ======= */

.footer__social-media {
  max-width: 339px;
}

.footer__social-media > *:not(:last-child) {
  margin-bottom: 32px;
}

.footer__socials {
  display: flex;
}

.footer__social-link {
  display: block;
  width: 40px;
  height: 40px;

  border: 1px solid #ffffff;
  border-radius: 6.67px;
  background: center no-repeat;
}

.footer__social-link--facebook {
  background-image: url("../img/fb.svg");
}

.footer__social-link--twitter {
  background-image: url("../img/x.svg");
}

.footer__social-link--linkedin {
  background-image: url("../img/linkedin.svg");
}

.footer__social-link:not(:last-child) {
  margin-right: 32px;
}

/* ======= FOOTER__NAV ======= */

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 12px 0 -48px;
}

.footer__nav-block {
  max-width: 144px;
  margin-bottom: 48px;
}

.footer__title {
  margin-bottom: 32px;

  font-size: 20px;
  line-height: 1.4;
  font-weight: 500;

  color: #ffffff;
}

.footer__link {
  text-decoration: underline transparent;
  transition: text-decoration 0.3s;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__nav-block:not(:last-child) {
  margin-right: 106px;
}

/* ======= FOOTER__CONTACT ======= */

.footer__contact {
  margin-top: 12px;
  max-width: 220px;
}

.footer__contact-item {
  position: relative;

  padding-left: 28px;
}

.footer__contact-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;

  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer__location::before {
  background-image: url("../img/location.svg");
}

.footer__mobile::before {
  background-image: url("../img/phone.svg");
}

.footer__email::before {
  background-image: url("../img/mail.svg");
}

.footer__contact-item {
  font-size: 14px;
}

.footer__contact-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__contact-title {
  margin-bottom: 4px;
  font: 500 18px/1.33 "Cormorant Garamond", Georgia, "Times New Roman", serif;
  color: #ffffff;
}

.footer__copyright {
  padding: 32px 0;

  font-size: 12px;
  text-align: center;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
}


/* ======= MEDIA ======= */

@media (max-width: 1360px) {
  .services__grid {
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .header__list {
    position: absolute;
    top: 98px;
    left: 0;
    right: 0;
    z-index: 1;

    display: block;
    padding-top: 20px;
    min-height: calc(100vh - 98px);

    font-size: 24px;
    text-align: center;

    background-color: #1b1b1b;
    transform: translateY(-200%);
    transition: transform 0.5s;

    overflow-y: auto;
  }

  .header__list--active {
    transform: translateY(0);
  }

  .header__item:not(:last-child) {
    margin-right: 0;
  }

  .header__link--drop-down::after {
    display: none;
  }

  .header__item,
  .header__item--selected,
  .header__item:not(.header__item--selected):hover {
    border: 0;
  }

  .header__link {
    display: block;
    padding: 11px 0;
  }

  .menu-button {
    display: block;
  }

  .footer__inner {
    justify-content: center;
    margin-bottom: -48px;
    padding: 50px 0;
  }

  .footer__inner > * {
    margin-bottom: 48px;
  }

  .footer__social-media {
    max-width: fit-content;
    flex: 1 0 auto;
  }

  .footer__nav {
    margin-right: 24px;
  }
}

@media (max-width: 992px) {
  .appointment__inputs {
    margin-right: 0;
  }

  .appointment__input,
  .appointment__select-wrapper {
    flex-wrap: wrap;
    width: 100%;
  }

  .appointment__buttons {
    flex-wrap: wrap;
    align-items: center;
    margin-right: -24px;
  }

  .appointment__button {
    margin: 0 24px 20px 0;
  }
}

@media (max-width: 768px) {
  .section {
    margin: 50px 0;
  }

  .appointment__buttons {
    margin-bottom: 30px;
  }

  .footer__nav {
    margin-right: 0;
  }

  .footer__nav-block {
    margin-bottom: 45px;
  }

  .button {
    padding: 12px 22px;
  }

  .header__inner {
    padding-top: 20px;
  }

  .header__logo {
    font-size: 23px;
  }

  .header__buttons > *:not(:last-child) {
    margin-right: 15px;
  }

  .appointment__input,
  .appointment__select-wrapper {
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .footer__inner {
    flex-direction: column;
    align-items: center;
  }

  .footer__inner > * {
    margin-bottom: 20px;
  }

  .footer__nav-block {
    width: 100%;
    max-width: none;
    text-align: center;
  }

  .footer__nav-block:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 460px) {
  body {
    font-size: 14px;
  }

  .section__title {
    font-size: 40px;
  }

  .section__text {
    margin-bottom: 35px;
  }

  .header__item-sign-up {
    display: block;
  }

  .header__sign-up {
    display: none;
  }

  .services__item {
    padding: 50px 20px;
  }

  .package {
    padding: 25px 15px;
  }

  .mailing-list__input {
    margin-bottom: 24px;
    padding-right: 32px;
  }

  .mailing-list__button {
    position: static;

    display: block;
    margin-left: auto;

    transform: none;
  }
}

@media (max-width: 385px) {
  .appointment__buttons {
    flex-direction: column;
  }

  .header__inner {
    padding-top: 15px;
  }

  .header__logo {
    font-size: 20px;
  }

  .services__name {
    font-size: 30px;
  }
}

@media (max-height: 477px) {
  .banner__title {
    font-size: 64px;
  }

  .banner__text {
    font-size: 14px;
  }
}
