/* ======= GLOBAL STYLES ======= */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;

  background-color: transparent;
  color: inherit;
  border: 0;

  -webkit-appearance: none;

  -moz-appearance: none;

  appearance: none;
  cursor: pointer;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  font: 400 16px/1.5 Manrope, Arial, Helvetica, sans-serif;

  background-color: #000;
  color: #fff;
}

body.locked {
  overflow: hidden;
}

.container {
  max-width: 1340px;
  padding: 0 10px;
  margin: 0 auto;
}

.section {
  margin: 120px 0;
}

.section__title {
  margin-bottom: 12px;

  font: 600 64px/1.25 'Cormorant Garamond', Georgia, 'Times New Roman', serif;
  text-align: center;
  text-transform: capitalize;
}

.section__text {
  max-width: 754px;
  margin: 0 auto 80px;

  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input {
  padding: 16px 32px;

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  color: rgba(255, 255, 255, 0.7);
}

.input::-webkit-input-placeholder {
  font: inherit;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.4);
}

.input::-moz-placeholder {
  font: inherit;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.4);
}

.input:-ms-input-placeholder {
  font: inherit;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.4);
}

.input::-ms-input-placeholder {
  font: inherit;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.4);
}

.input::placeholder {
  font: inherit;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.4);
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select {
  padding: 24px 32px;
  width: 100%;

  border-radius: 12px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select::-ms-expand {
  display: none;
}

.select-wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 32px;
  z-index: 2;

  width: 24px;
  height: 24px;

  background: url('../img/select-arrow.svg') center/contain no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.select__option {
  background-color: #000000;
}

.button {
  padding: 17px 32px;

  text-transform: capitalize;

  border: 0;
  border-radius: 12px;
  color: #151515;
  background-color: #cea561;

  -webkit-transition: background-color 0.3s, color 0.3s;

  -o-transition: background-color 0.3s, color 0.3s;

  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.button--transparent {
  background-color: transparent;
  border: 1px solid #cea561;
  color: #ffffff;
}

/* ======= HEADER ======= */

.header {
  background: center/cover no-repeat;
  overflow: hidden;
}

.header--active {
  background: #1b1b1b !important;
}

.header__inner {
  padding-top: 40px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 2;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  position: relative;
  border-bottom: 1px solid transparent;
}

.header__item:not(:last-child) {
  margin-right: 32px;
}

.header__link {
  border-bottom: 1px solid transparent;
}

.header__link--selected {
  pointer-events: none;
}

.icon {
  position: relative;
  padding-right: 16px;
}

.icon::after {
  content: '';
  position: absolute;
}

.icon--arrow-down::after {
  bottom: 50%;
  right: 0;

  width: 12px;
  height: 12px;

  background: url('../img/arrow-down.svg') center/contain no-repeat;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

.submenu {
  position: absolute;
  top: 35px;
  left: 50%;
  z-index: 5;

  display: block;
  min-width: 200px;
  padding: 0 5px;

  background-color: #222222;
  color: #ffffff;

  -webkit-transform: translateX(-50%) scale(1);

  -ms-transform: translateX(-50%) scale(1);

  transform: translateX(-50%) scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.submenu::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 60px;
  z-index: 5;
  height: auto;

  display: block;

  border-style: solid;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #222222 transparent;
}

.submenu--hidden {
  -webkit-transform: translateX(200%) scale(0);
  -ms-transform: translateX(200%) scale(0);
  transform: translateX(200%) scale(0);
}

.submenu__link {
  display: block;
  padding: 11px 5px;

  text-align: center;
}

.header__item--selected {
  color: #cea561;
  border-bottom: 1px solid #cea561;
}

.header__item-sign-up {
  display: none;
}

.header__buttons > *:not(:last-child) {
  margin-right: 12px;
}

.header__buttons {
  position: relative;
  z-index: 2;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__button {
  position: relative;
  width: 44px;
  height: 44px;
}

.header__button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 32px;
  height: 32px;

  border-radius: 50%;

  background: #cea561 center / 22px no-repeat;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header__button--basket::before {
  background-image: url('../img/cart.svg');
}

.header__button--search::before {
  background-image: url('../img/search.svg');
}

.menu-button {
  position: relative;
  z-index: 2;

  display: none;
  width: 44px;
  height: 44px;
}

.menu-button__line,
.menu-button__line::before,
.menu-button__line::after {
  position: absolute;
  top: 20px;
  left: 4px;

  width: 30px;
  height: 2px;

  background-color: #cea561;
  -webkit-transition: top 0.5s, bottom 0.5s, -webkit-transform 0.5s;
  transition: top 0.5s, bottom 0.5s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, top 0.5s, bottom 0.5s;
  transition: transform 0.5s, top 0.5s, bottom 0.5s;
  transition: transform 0.5s, top 0.5s, bottom 0.5s, -webkit-transform 0.5s;
}

.menu-button__line::before,
.menu-button__line::after {
  content: '';
  top: 10px;
  -webkit-transform: translateX(-4px);
  -ms-transform: translateX(-4px);
  transform: translateX(-4px);
}

.menu-button__line::after {
  top: auto;
  bottom: 10px;
}

.menu-button--active .menu-button__line {
  background-color: transparent;
}

.menu-button--active .menu-button__line::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
}

.menu-button--active .menu-button__line::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 0;
}

/* ======= BANNER ======= */

.banner {
  padding: 96px 0 192px;
  text-align: center;
}

.banner__title {
  margin-bottom: 8px;

  font: 600 80px/1.2 'Cormorant Garamond', Georgia, 'Times New Roman', serif;
}

.banner__text {
  font-size: 20px;
  line-height: 1.4;

  color: rgba(255, 255, 255, 0.5);
}

/* ======= MAIN ======= */

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  overflow: hidden;
}

/* ======= SERVICES ======= */

.services__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -24px -48px 0;
}

.services__text {
  max-width: 620px;
}

.services__item {
  max-width: 312px;
  width: 100%;
  padding: 110px 50px;
  margin: 0 24px 48px 0;

  text-align: center;

  border-radius: 12px;
  border: solid 1px #cea561;
}

.services__item::before {
  content: '';
  display: block;
  width: 110px;
  height: 90px;
  margin: 0 auto 32px;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.services__link {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

@media (any-hover: hover) {
  .services__link:hover {
    color: #cea561;
  }
}

.services__link:active {
  color: #cea561;
}

.services__item--cut::before {
  background-image: url('../img/haircut.png');
}

.services__item--shaving::before {
  background-image: url('../img/shaving.png');
}

.services__item--dye::before {
  background-image: url('../img/hairdye.png');
}

.services__item--facial::before {
  background-image: url('../img/facial.png');
}

.services__item--treatment::before {
  background-image: url('../img/treatment.png');
}

.services__item--removal::before {
  background-image: url('../img/removal.png');
}

.services__item--wedding::before {
  background-image: url('../img/wedding.png');
}

.services__name {
  font: 500 48px/64px 'Cormorant Garamond', Georgia, 'Times New Roman', serif;
}

/* ======= PACKAGES ======= */

.packages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -24px -48px 0;
}

.package {
  max-width: 424px;
  padding: 48px 67px;
  margin: 0 24px 48px 0;

  text-align: center;

  background-color: #2b2b2b;
  border: 1px solid #cea561;
  border-radius: 12px;
  color: #ececec;
}

.package__title {
  width: 100%;
  margin-bottom: 12px;

  font-size: 32px;
  font-weight: 500;
}

.package__price {
  margin-bottom: 32px;

  font-size: 40px;
  font-weight: 600;
}

.package__price-currency {
  font-size: 32px;
  color: rgba(255, 255, 255, 0.7);
}

.package__ul {
  margin-bottom: 56px;
  text-align: left;
  color: rbga(255, 255, 255, 0.7);
}

.package__li {
  position: relative;
  padding-left: 32px;
}

.package__li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 24px;
  height: 24px;

  background: url('../img/checkmark.svg') center/contain no-repeat;
}

.package__li:not(:last-child) {
  margin-bottom: 16px;
}

.package__button {
  padding: 16px 48px;
}

/* ======= CALENDAR ======= */

body > .ui-datepicker {
  display: none;
}

.ui-datepicker {
  width: 100% !important;
  max-width: 648px;
  margin: 0 auto;

  padding-bottom: 25px;

  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.25;

  color: #ffffff;
  border-radius: 13px;
  border: 1px solid #cea561;
  background-color: #2b2b2b;
}

.ui-datepicker-calendar {
  width: 100%;
  max-width: 648px;
}

.ui-datepicker-header {
  position: relative;

  height: 44px;
  padding: 0;
  margin: 16px 26px 0 16px;
}

.ui-datepicker-title {
  position: relative;

  display: -webkit-inline-box;

  display: -ms-inline-flexbox;

  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
  height: 100%;
  padding-right: 15px;

  font-size: 17px;
  line-height: 0.77;
  font-weight: 600;

  color: #ffffff;
}

.ui-datepicker-title::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;

  width: 7px;
  height: 11px;

  background: url('../img/arrow.svg') center/contain no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ui-datepicker-prev,
.ui-datepicker-next {
  top: 8px;
  border: none;
  background: none;
  color: #d6a758;
  cursor: pointer;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  position: absolute;
  top: 50%;
  right: 0;

  width: 30px;
  height: 44px;

  background: transparent url('../img/arrow.svg') right/10px 17px no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ui-datepicker-prev {
  right: 31px;
  background-image: url('../img/arrow-backward.svg');
}

.ui-datepicker th {
  color: #999;
  font-weight: normal;
  padding: 5px 0;
}

.ui-datepicker td {
  padding: 5px;
}

.ui-datepicker td.past-day a {
  color: rgba(255, 255, 255, 0.3);
}

.ui-datepicker td a {
  display: block;
  width: 40px;
  height: 40px;
  padding: 8px;
  margin: 0 auto;

  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.ui-datepicker td:not(.ui-datepicker-current-day) a:active {
  background-color: #3a3a3a;
}

.ui-datepicker .ui-state-active {
  background-color: #d6a758;
  color: #000;
}

/* Удалить рамки вокруг ячеек */
.ui-datepicker td,
.ui-datepicker th {
  border: none;
}

/*.air-datepicker.-inline- {
  display: block;
  max-width: 648px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 25px;
  
  font-family: Manrope, Arial, Helvetica, sans-serif;;
  font-size: 20px;
  line-height: 1.25;

  color: #ffffff;
  border-radius: 13px;
  border: 1px solid #cea561;
  background-color: #2b2b2b;
}

.appointment .air-datepicker.-inline- {
  margin-bottom: 72px;
}

.-inline- .air-datepicker-nav {
  position: relative;

  height: 44px;
  padding: 0;
  margin: 16px 26px 0 16px;

  border: 0;
}

.-inline- .air-datepicker-nav--title {
  position: relative;
  padding: 0 15px 0 0;

  font-size: 17px;
  line-height: 0.77;
  font-weight: 600;

  color: #ffffff;
}

.-inline- .air-datepicker-nav--title:hover {
  background-color: transparent;
}

.-inline- .air-datepicker-nav--title i {
  color: #ffffff;
}

.-inline- .air-datepicker-nav--title::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;

  width: 7px;
  height: 11px;

  background: url("../img/arrow.svg") center/contain no-repeat;
  transform: translateY(-50%);
}

.-inline- [data-action=prev],
.-inline- [data-action=next] {
  position: absolute;
  top: 50%;
  right: 0;

  width: 10px;
  height: 17px;

  background: transparent url("../img/arrow.svg") center no-repeat;
  border-radius: 50%;
  transform: translateY(-50%);
}

.-inline- [data-action=prev] {
  right: 31px;
  background-image: url("../img/arrow-backward.svg");
}

.-inline- [data-action=prev]:hover,
.-inline- [data-action=next]:hover {
  background-color: transparent;
}

.-inline- .air-datepicker-body--cells {
  grid-auto-rows: 46px;
}

.-inline- .air-datepicker-body--day-name {
  font-size: 13px;
  line-height: 1.38;

  color: rgba(235, 235, 245, 0.3);
}

.-inline- .air-datepicker-cell {
  width: 40px;
  height: 40px;
  place-self: center;

  border-radius: 50%;
  transition: color 0.3s, background-color 0.3s;
}

.-inline- .air-datepicker-cell.-year-,
.-inline- .air-datepicker-cell.-month- {
  padding: 0 5px;
  box-sizing: content-box;
}

.-inline- .air-datepicker-cell.-other-month- {
  visibility: hidden;
}

.-inline- .air-datepicker-cell.-current- {
  color: #ffffff;
}

.-inline- .air-datepicker-cell.-focus- {
  color: #000000;
}

.-inline- .air-datepicker-cell.-disabled- {
  color: rgba(255, 255, 255, 0.3);
  cursor: default;
}

.-inline- .air-datepicker-cell.-disabled-.-focus- {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.-inline- .air-datepicker-cell.-selected- {
  color: #151515;
  background-color: #cea561;
}*/

/* ======= APPOINTMENT ======= */

.appointment__date {
  margin-bottom: 72px;
}

.appointment__form-title {
  margin-bottom: 48px;

  font-size: 32px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

.appointment__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 72px;
}

.appointment__button {
  padding: 20px 34px;
}

.appointment__button:not(:last-child) {
  margin-right: 24px;
}

.appointment__button--active {
  background-color: #cea561;
  color: #000000;
}

.appointment__inputs {
  margin: 0 -24px 8px 0;
}

.appointment__input,
.appointment__select-wrapper {
  width: 47%;
  margin: 0 24px 40px 0;
}

.appointment__input {
  padding: 24px 32px;
}

.appointment__button-submit {
  display: block;
  margin: 0 auto;
}

/* ======= MAILING-LIST ======= */

.mailing-list {
  padding: 120px 0;
  margin-top: 120px;

  background-color: #1b1b1b;
}

.mailing-list__inner {
  max-width: 640px;
  margin: 0 auto;
}

.mailing-list__text {
  margin-bottom: 32px;
}

.mailing-list__form {
  position: relative;

  max-width: 532px;
  margin: 0 auto;
  height: 100%;
}

.mailing-list__input {
  width: 100%;
  padding-right: 135px;
}

.mailing-list__button {
  position: absolute;
  right: 0;
  top: 50%;

  -webkit-transform: translateY(-50%);

  -ms-transform: translateY(-50%);

  transform: translateY(-50%);
}

/* ======= FOOTER ======= */

.footer {
  color: rgba(255, 255, 255, 0.5);
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 120px 0 88px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__logo {
  display: inline-block;
}

/* ======= FOOTER__SOCIAL-MEDIA ======= */

.footer__social-media {
  max-width: 339px;
}

.footer__social-media > *:not(:last-child) {
  margin-bottom: 32px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-link {
  display: block;
  width: 40px;
  height: 40px;

  border: 1px solid #ffffff;
  border-radius: 6.67px;
  background: center no-repeat;
}

.footer__social-link--facebook {
  background-image: url('../img/fb.svg');
}

.footer__social-link--twitter {
  background-image: url('../img/x.svg');
}

.footer__social-link--linkedin {
  background-image: url('../img/linkedin.svg');
}

.footer__social-link:not(:last-child) {
  margin-right: 32px;
}

/* ======= FOOTER__NAV ======= */

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 12px 0 -48px;
}

.footer__nav-block {
  max-width: 144px;
  margin-bottom: 48px;
}

.footer__title {
  margin-bottom: 32px;

  font-size: 20px;
  line-height: 1.4;
  font-weight: 500;

  color: #ffffff;
}

.footer__link {
  -webkit-text-decoration: underline transparent;
  text-decoration: underline transparent;
  -webkit-transition: -webkit-text-decoration 0.3s;
  transition: -webkit-text-decoration 0.3s;
  -o-transition: text-decoration 0.3s;
  transition: text-decoration 0.3s;
  transition: text-decoration 0.3s, -webkit-text-decoration 0.3s;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__nav-block:not(:last-child) {
  margin-right: 106px;
}

/* ======= FOOTER__CONTACT ======= */

.footer__contact {
  margin-top: 12px;
  max-width: 220px;
}

.footer__contact-item {
  position: relative;

  padding-left: 28px;
}

.footer__contact-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;

  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer__location::before {
  background-image: url('../img/location.svg');
}

.footer__mobile::before {
  background-image: url('../img/phone.svg');
}

.footer__email::before {
  background-image: url('../img/mail.svg');
}

.footer__contact-item {
  font-size: 14px;
}

.footer__contact-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__contact-title {
  margin-bottom: 4px;
  font: 500 18px/1.33 'Cormorant Garamond', Georgia, 'Times New Roman', serif;
  color: #ffffff;
}

.footer__copyright {
  padding: 32px 0;

  font-size: 12px;
  text-align: center;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
}

/* ======= MEDIA ======= */

@media (any-hover: hover) {
  .button--transparent:hover {
    background-color: #cea561;
    color: #000000;
  }

  .button:hover {
    background-color: #f1b85b;
  }

  .header__link:not(.header__link--selected):hover {
    border-bottom: 1px solid #ffffff;
  }

  .ui-datepicker td:not(.ui-datepicker-current-day) a:hover {
    background-color: #3a3a3a;
  }

  .footer__link:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1360px) {
  .services__grid {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .header__list {
    position: absolute;
    top: 98px;
    left: 0;
    right: 0;
    z-index: 1;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 20px;
    height: calc(100vh - 98px);
    height: calc(100dvh - 98px);

    font-size: 24px;
    text-align: center;

    background-color: #1b1b1b;
    -webkit-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;

    overflow-y: auto;
    overflow-x: hidden;
  }

  .header__list--active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  .header__item:not(:last-child) {
    margin-right: 0;
  }

  .icon {
    padding-right: 20px;
  }

  .icon--arrow-down::after {
    bottom: 45%;
  }

  .submenu {
    top: 60px;
  }

  .submenu::before {
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }

  .submenu__link {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header__item,
  .header__item--selected,
  .header__link:not(.header__link--selected):hover {
    border-color: transparent;
  }

  .header__link {
    display: block;
    width: 100%;
    padding: 11px 0;
  }

  .menu-button {
    display: block;
  }

  .footer__inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: -48px;
    padding: 50px 0;
  }

  .footer__inner > * {
    margin-bottom: 48px;
  }

  .footer__social-media {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }

  .footer__nav {
    margin-right: 24px;
  }
}

@media (max-width: 992px) {
  .appointment__inputs {
    margin-right: 0;
  }

  .appointment__input,
  .appointment__select-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }

  .appointment__buttons {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: -24px;
  }

  .appointment__button {
    margin: 0 24px 20px 0;
  }
}

@media (max-width: 768px) {
  .section {
    margin: 50px 0;
  }

  .button {
    padding: 12px 22px;
  }

  .header__inner {
    padding-top: 20px;
  }

  .header__logo {
    width: 130px;
    margin-right: 5px;
  }

  .logo__img {
    height: auto;
  }

  .header__list {
    top: 68px;
    min-height: calc(100vh - 68px);
    min-height: calc(100dvh - 68px);
  }

  .header__buttons > *:not(:last-child) {
    margin-right: 15px;
  }

  .appointment__buttons {
    margin-bottom: 30px;
  }

  .appointment__input,
  .appointment__select-wrapper {
    margin-bottom: 30px;
  }

  .footer__nav {
    margin-right: 0;
  }

  .footer__nav-block {
    margin-bottom: 45px;
  }
}

@media (max-width: 576px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__inner > * {
    margin-bottom: 20px;
  }

  .footer__nav-block {
    width: 100%;
    max-width: none;
    text-align: center;
  }

  .footer__nav-block:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-height: 477px), (max-width: 460px) {
  .banner__title {
    font-size: 64px;
  }

  .banner__text {
    font-size: 14px;
  }
}

@media (max-width: 460px) {
  body {
    font-size: 14px;
  }

  .section__title {
    font-size: 40px;
  }

  .section__text {
    margin-bottom: 35px;
  }

  .header__item-sign-up {
    display: block;
    margin-top: 20px;
  }

  .header__sign-up {
    display: none;
  }

  .services__item {
    padding: 50px 20px;
  }

  .package {
    padding: 25px 15px;
  }

  .mailing-list__input {
    margin-bottom: 24px;
    padding-right: 32px;
  }

  .mailing-list__button {
    position: static;

    display: block;
    margin-left: auto;

    -webkit-transform: none;

    -ms-transform: none;

    transform: none;
  }
}

@media (max-width: 385px) {
  .appointment__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header__inner {
    padding-top: 15px;
  }

  .services__name {
    font-size: 30px;
  }
}
