<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
<header>
	<div class="container">
		Шапка сайта
	</div>
</header>
<main class="main" role="main">
	<div class="container">
		<div class="main__inner">
			<aside class="profile-info">
				<div class="profile-info__img-wrap">
					<img src="https://geocaching.su/photos/areas/thumbnails/90457.jpg" alt="">
				</div>
				<div class="profile-info__name">
					ТАЙНИК
				</div>
				<div class="profile-info-main">
					<div class="profile-info-main__item">
						<span>
							Тип:
						</span>
						<span>
							Традиционный
						</span>
					</div>
					<div class="profile-info-main__item">
						<span>
							Тип:
						</span>
						<span>
							Традиционный
						</span>
					</div>
					<div class="profile-info-main__item">
						<span>
							Тип:
						</span>
						<span>
							Традиционный
						</span>
					</div>
					<div class="profile-info-main__img-wrap">
						<img src="https://geocaching.su/images/icons/fourseasons.png" alt="Всесезонный">
					</div>
					<p class="text">
						И тд))
					</p>
				</div>
			</aside>
			<div class="content">
				<h3 class="content__head">
					Описание окружающей местности
				</h3>
				<p class="content__text">
					Как известно, Мюнхен - город музеев. Но кроме "официального" искусства в почти каждом городе есть еще альтернативная сторона - уличное искусство. В Мюнхене с этим довольно-таки грустно, конечно, какие-то случайные инсталляции и стрит-арт присутствует, но по сравнению с Мельбурном, Нью-Йорком, Москвой или даже Братиславой - совсем не так обширно.
				</p>
				<p class="content__text">
					Тайник посвящен небольшому кварталу за Восточным вокзалом Мюнхена (Ostbahnhof). Тут находится некая промзона, но частично окультуренная - имеется центр детского творчества, а немножко в стороне также есть общественное пространство из грузовых контейнеров. Но нас интересует местный стритарт - здесь, мне кажется, самая большая его концентрация во всем Мюнхене. Вы не найдете гигантских фресок на всю стену, но просто множество маленьких и средних "картин".
				</p>
				<p class="content__text">
					Тайник посвящен небольшому кварталу за Восточным вокзалом Мюнхена (Ostbahnhof). Тут находится некая промзона, но частично окультуренная - имеется центр детского творчества, а немножко в стороне также есть общественное пространство из грузовых контейнеров. Но нас интересует местный стритарт - здесь, мне кажется, самая большая его концентрация во всем Мюнхене. Вы не найдете гигантских фресок на всю стену, но просто множество маленьких и средних "картин".
				</p>
				<p class="content__text">
					Тайник посвящен небольшому кварталу за Восточным вокзалом Мюнхена (Ostbahnhof). Тут находится некая промзона, но частично окультуренная - имеется центр детского творчества, а немножко в стороне также есть общественное пространство из грузовых контейнеров. Но нас интересует местный стритарт - здесь, мне кажется, самая большая его концентрация во всем Мюнхене. Вы не найдете гигантских фресок на всю стену, но просто множество маленьких и средних "картин".
				</p>
				<p class="content__text">
					Тайник посвящен небольшому кварталу за Восточным вокзалом Мюнхена (Ostbahnhof). Тут находится некая промзона, но частично окультуренная - имеется центр детского творчества, а немножко в стороне также есть общественное пространство из грузовых контейнеров. Но нас интересует местный стритарт - здесь, мне кажется, самая большая его концентрация во всем Мюнхене. Вы не найдете гигантских фресок на всю стену, но просто множество маленьких и средних "картин".
				</p>
				<p class="content__text">
					Тайник посвящен небольшому кварталу за Восточным вокзалом Мюнхена (Ostbahnhof). Тут находится некая промзона, но частично окультуренная - имеется центр детского творчества, а немножко в стороне также есть общественное пространство из грузовых контейнеров. Но нас интересует местный стритарт - здесь, мне кажется, самая большая его концентрация во всем Мюнхене. Вы не найдете гигантских фресок на всю стену, но просто множество маленьких и средних "картин".
				</p>
				<p class="content__text">
					Тайник посвящен небольшому кварталу за Восточным вокзалом Мюнхена (Ostbahnhof). Тут находится некая промзона, но частично окультуренная - имеется центр детского творчества, а немножко в стороне также есть общественное пространство из грузовых контейнеров. Но нас интересует местный стритарт - здесь, мне кажется, самая большая его концентрация во всем Мюнхене. Вы не найдете гигантских фресок на всю стену, но просто множество маленьких и средних "картин".
				</p>
				<p class="content__text">
					Тайник посвящен небольшому кварталу за Восточным вокзалом Мюнхена (Ostbahnhof). Тут находится некая промзона, но частично окультуренная - имеется центр детского творчества, а немножко в стороне также есть общественное пространство из грузовых контейнеров. Но нас интересует местный стритарт - здесь, мне кажется, самая большая его концентрация во всем Мюнхене. Вы не найдете гигантских фресок на всю стену, но просто множество маленьких и средних "картин".
				</p>
				<p class="content__text">
					Тайник посвящен небольшому кварталу за Восточным вокзалом Мюнхена (Ostbahnhof). Тут находится некая промзона, но частично окультуренная - имеется центр детского творчества, а немножко в стороне также есть общественное пространство из грузовых контейнеров. Но нас интересует местный стритарт - здесь, мне кажется, самая большая его концентрация во всем Мюнхене. Вы не найдете гигантских фресок на всю стену, но просто множество маленьких и средних "картин".
				</p>
			</div>
			<aside class="aside">
				<h2 class="aside__head">
					Войдите!
				</h2>
				<form class="sidebar__subscribe__form">
					<input type="text" placeholder="Name" maxlength="25">
					<input type="text" placeholder="Email address" maxlength="25">
					<button type="submit">Войти!</button>
				</form>
			</aside>
		</div>
	</div>
</main>
<footer>
	<div class="container">
		Футер сайта
	</div>
</footer>
</body>
</html>