@font-face {
	font-family: Lato;
	font-weight: 400;
	font-style: normal;
	src: 	local(Lato)
				local(Lato Regular),
			 	local(Lato-Regular),
				url('..fonts/Lato-Regular.woff2') format('woff2'), 
				url('..fonts/Lato-Regular.woff') format('woff'),
				url('..fonts/Lato-Regular.ttf') format('ttf'),
				url('..fonts/Lato-Regular.eot') format('eot');
	font-display: swap;
}

@font-face {
	font-family: Lato;
	font-weight: 700;
	font-style: normal;
	src: 	local(Lato Bold),
			 	local(Lato-Bold),
				url('../fonts/Lato-Bold.woff2') format('woff2'), 
				url('../fonts/Lato-Bold.woff') format('woff'),
				url('../fonts/Lato-Bold.ttf') format('ttf'),
				url('../fonts/Lato-Bold.eot') format('eot');
	font-display: swap;
}

@font-face {
	font-family: Icons;
	src: 	url('../fonts/fontello.woff2') format('woff2'), 
				url('../fonts/fontello.woff') format('woff'),
				url('../fonts/fontello.ttf') format('ttf'),
				url('../fonts/fontello.eot') format('eot');
	font-display: swap;
}