@import url("fonts.css");

* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 13px;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 15px;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}





/*======= ELEMENTS =======*/

/*-- call --*/
.call__number,
.call__request {
	display: block;
}
.call__number {
	font-weight: 700;
	font-size: 28px;
}
.call__number:hover {
	text-decoration: underline;
}
.call__request {
	display: block;
	color: #d91233;
	text-decoration: underline;
	font-size: 16px;
	text-align: right;
}
.call__request:hover {
	color: #F00;
	transition: .4s;
}

/*-- затемнение --*/
.blackout {
	height: 100%;
	width: 100%;
	background-color: rgba(33,33,33,.85);
}

/*-- logo --*/
.logo {
	display: block;
}

/*-- button --*/
.button {
	border-radius: 50px;
	border: none;
	background-color: #d91233;
	color: #fff;
	text-align: center;
	font-size: 18px;
	padding: 18px 50px;
	cursor: pointer;
	outline: none;
}
.button:hover {
	background-color: #FF153C;
	transition: .5s;
}
.button_transparent {
	background-color: transparent;
	border: 2px solid #d91233;
	padding: 16px 50px;
}
.button_transparent:hover {
	background-color: rgba(255,51,78, .3);
}

/*-- section --*/
.section {
	padding-bottom: 80px;
}
.section_gray {
	background-color: #ebebeb;
}
.section-title,
.section-descr {
	text-align: center;
}
.section-title {
	padding-top: 80px;
	font-size: 30px;
	margin: 0 0 25px;
}
.section-descr {
	font-weight: 400;
	font-size: 16px;
	margin: 0 0 60px;
}

/*-- form --*/
.form {
	padding: 55px;
	border: 5px solid #fff;
}

.form__label {
	display: block;
}

.form__descr {
	font-family: 'Lato', sans-serif;
	color: #000;
	margin-bottom: 8px;
	font-weight: 700;
}

.textarea {
	resize: none;
	height: 120px;
}

.input,
.textarea,
.select,
.select__option {
	border: 1px solid transparent;
	font-family: 'Lato', sans-serif;
	padding: 15px 17px;
	max-width: 240px;
	outline: none;
	width: 100%;
	overflow: hidden;
}

.select__option:hover {
	background-color: #000;
	color: #fff;
}

.request-form__input,
.request-form__textarea {
	margin-bottom: 13px;
}

.input::placeholder,
.textarea::placeholder {
	font-family: 'Lato', sans-serif;
	color: #b8b8b8;
}

.input:focus,
.textarea:focus,
.select:focus,
.select__option:focus {
	border: 1px solid #000;
	transition: .3s;
}




/*======= HEADER =======*/

.header {
	background: url(../img/header/bg.jpg) center no-repeat;
	background-size: cover;
	position: relative;
}

.header-top::before {
	content: '';
	width: 170%;
	height: 150px;
	position: absolute;
	top: 0;
	left: -70%;
	background: linear-gradient(to bottom, #131312, transparent);
	z-index: 1;
}

.header-top {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.header-call {
	z-index: 2;
}

.header-call__number {
	color: #fff;
}

.header-logo {
	z-index: 0;
}

.header-bottom {
	color: #fff;
}

.header__title,
.header__subtitle {
	text-align: center;
}

.header__title {
	font-weight: 700;
	font-size: 48px;
	margin-bottom: 25px;
	margin-top: 120px;
	text-transform: uppercase;
}

.header__subtitle {
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 105px;
}

.header-list {
	display: flex;
	justify-content: center;
	align-items: center;
	align-items: flex-end;
	margin-bottom: 105px;
}

.header-list__item {
	text-align: center;
	max-width: 165px;
	display: flex;
	flex-direction: column; 
	justify-content: space-around;
	flex-wrap: wrap;
}

.header-list__item + .header-list__item {
	margin-left: 90px;
}

.header-list__text {
	display: block;
	margin-top: 30px;
	font-size: 18px;
	align-self: baseline;
}

.header-list__img {
	align-self: center;
}

.header-buttons {
	display: flex;
	justify-content: center;
	padding-bottom: 90px;
	flex-wrap: wrap;
}

.header__buttons +
.header__buttons {
	margin-left: 40px;
}

.header-buttons__descr {
	font-size: 14px;
	max-width: 155px;
	margin: 0 auto;
	text-align: center;
}

.header__button {
	margin-bottom: 20px;
	width: 240px;
	min-width: 240px;
	min-height: 50px;
	padding: 0 18px;
}





/*======= INFO =======*/

.info {
	padding-top: 80px;
}

.info-list {
	text-align: center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.info-list__item {
	max-width: 230px;
	margin: 0 30px 85px;
}

.info-list__title {
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 20px;
}




/*====== REQUEST ======*/

.request-form {
	column-count: 3;
}

.request__label {
	margin-bottom: 20px;
}

.request-form__button {
	width: 100%;
}






/*======= BRENDS =======*/

.brends__img {
	display: block;
	filter: grayscale(100%) brightness(1.1);
	cursor: pointer;
	margin-bottom: 35px;
}

.brends__img:hover {
	filter: none;
}

.brends__header,
.brends__footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}

.brends__footer {
	max-width: 620px;
}





/*======= VIDEO =======*/

.video-screen {
	border: 15px solid #fff;
	outline: 5px solid #f2f2f2;
	margin: 0 auto;
	width: 81.25%;
	height: 390px;
}

.video__iframe {
	width: 100%;
	height: 100%;
	border: none;
}





/*======= REVIEWS =======*/

.reviews {
	background-color: #ebebeb;
}
.reviews__inner {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.review-item {
	font-weight: 700;
	color: #2b2b2b;
	margin: 10px 14px 30px 0;
	display: flex;
	width: 450px;
}
.review-item__img {
	width: 90px; height: 90px;
	border-radius: 50%;
	float: left;
	margin-right: 25px;
	position: relative;
	top: -10px; left: 0;
}
.review-item__author {
	color: #757575;
}
.review-item__title {
	font-size: 16px;
	color: #d91233;
	margin: 16px 0;
}





/*======= ADVICE =======*/

.advice {
	background-color: #dbdbdb;
}

.advice-form {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 110px;
}

.advice-input {
	width: 290px;
	margin: 0 20px 40px;
}





/*======= ABOUT =======*/

/*#map {
	height: 550px;
	width: 100%;
	border: none;
	outline: none;
}

.contacts {
	display: inline-block;
	background-color: #d91233;
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding: 60px 100px;
	line-height: 30px;
}

.contacts__title {
	margin-bottom: 45px;
}

.contacts__email {
	text-decoration: underline;
}*/




/*======= FOOTER =======*/

.footer__inner {
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
	align-items: center;
}

.footer-call__number {
	color: #000;
}