@media screen and (min-width: 1600px) {
	.topscreen-wrap {
		background-position: 50% 35%;
	}

	.topscreen__btn-wrap {
		margin-top: 200px;
	}

	.container {
		max-width: 1400px;
	}

	.progress {
		background-position-x: 0;
		background-size: auto;
	}
}