@import '../css/normalize';

@import '_vars';
@import '_fonts';
@import '_global';

// Write code here


.link {
	transition: .05s color;

	&:hover,
	&:focus,
	&:active {
		color: $color-main-darken;
		outline: 0;
	}
}

.btn {
	border: 0;

	min-width: 210px;
	padding: 10px 15px;

	font-family: $font-title;
	font-size: 20px;

	background: $color-main linear-gradient(40deg, $color-main 0%, #87000e 100%);
  box-shadow: 0px 0px 10.45px 0.55px rgba(0, 0, 0, 0.35);
	color: #fff;

	cursor: pointer;
}

.btn-wrap .btn {
	display: block;
	margin: 0 auto;
}



.logo__img-wrap {
	width: 68px;
	height: 68px;

	box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.35);
}


.items-flex {
	display: flex;
	justify-content: space-between;

	&__item {
		text-align: center;
	}
}


.img-wrap {
	margin: 0 auto;

	img {
		display: block;
		margin: 0 auto;
	}
}


.section-title {
	font-family: $font-title;
	font-size: 30px;
	font-weight: 700;
	text-align: center;

	margin-bottom: 95px;
}








//////////////// SECTIONS ////////////////

.topscreen-wrap {
	background: url("../img/topscreen/bg.jpg") no-repeat 50% 0;
	background-size: cover;
}



.header {
	font-size: 15px;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding: 20px 0;
	}

	&-menu__ul {
		display: flex;
	}

	&-menu__item +
	&-menu__item {
		margin-left: 40px;
	}

	&-tools {
		order: 1;

		display: flex;

		&__tel-wrap {
			order: 1;
			margin-left: 45px;
		}
	}
}



.topscreen {
	padding-bottom: 160px;

	&__title {
		text-align: center;
		font-size: 36px;

		margin: 105px 0 65px;

		text-shadow: 0 0 8px #1b1b1b;

		&-name {
			font-size: 46px;
		}
	}

	&-directions {
		max-width: 690px;
		margin: 0 auto 100px;

		&-item {
			max-width: 220px;

			&__img-wrap {
				margin-bottom: 25px;
			}
		}
	}
}



.progress {
	background: url("../img/progress/bg.jpg") no-repeat 45% 0;
	background-size: cover;

	padding-bottom: 500px;

	&__inner {
		max-width: 730px;
		margin: 0 auto;
	}

	&__items {
		margin-bottom: 130px;
	}

	&-item {
		max-width: 165px;

		text-align: center;

		&__counter {
			font-family: $font-title;
			font-size: 30px;
			font-weight: 700;
			color: $color-main;

			margin-bottom: 20px;
		}
	}

	&__text-wrap {
		max-width: 570px;
		line-height: 30px;
	}
}



// Stop write code

@import 'media';