body {
	font-family: 'Lato', sans-serif;
	font-size: 13px;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 15px;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}


/*--- elements ---*/

/*-- call --*/
.call__number,
.call__request {
	display: block;
}

.call__number {
	font-weight: 700;
	font-size: 28px;
}

.call__number:hover {
	text-decoration: underline;
}

.call__request {
	color: #d91233;
	text-decoration: underline;
	font-size: 16px;
	text-align: right;
}

.call__request:hover {
	color: #F00;
	transition: .4s;
}

/*-- затемнение --*/
.blackout {
	height: 100%;
	width: 100%;
	background-color: rgba(40,40,40,.85);
}

/*Logo*/
.logo {
	display: block;
}





/*======= HEADER =======*/

.header {
	background: url(../img/header/bg.jpg) center no-repeat;
	background-size: cover;
	position: relative;
}

.header-top::before {
	content: '';
	width: 200%;
	height: 150px;
	position: absolute;
	top: 0;
	left: -70%;
	background: linear-gradient(to bottom, #131312, transparent);
	z-index: 1;
}

.header-top {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.header-call {
	z-index: 2;
}

.header-call__number {
	color: #fff;
}

.header-logo {
	z-index: 0;
}

.header-bottom {
	color: #fff;
}

.header__title,
.header__subtitle {
	text-align: center;
}

.header__title {
	font-weight: 700;
	font-size: 48px;
	margin-bottom: 25px;
	margin-top: 120px;
}

.header__subtitle {
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 105px;
}

.list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-list {
	align-items: flex-end;
}

.header-list__item {
	text-align: center;
	max-width: 165px;
	display: flex;
	flex-direction: column; 
	justify-content: space-around;
}

.header-list__item + .header-list__item {
	margin-left: 90px;
}

.header-list__text {
	display: block;
	margin-top: 30px;
	font-size: 18px;
	align-self: baseline;
}

.header-list__img {
	align-self: center;
}

.header-buttons {
}

.header-buttons__quick {
}

.button {
}

.header-buttons__descr {
}

.header-buttons__detailed {
}

.button-transparent {
}

.info-list {
	flex-wrap: wrap;
}