@import 'fonts.scss';


//////// DATA ////////

// colors
$color-text: #284157;
$color-blue: #ebf3fa;
$gradient-background: #fb2b2b linear-gradient(-49deg, #fb2b2b 0%, #f86c26 100%);

// fonts
$font-main: 'Geometria', sans-serif;

// mixins
@mixin marked-text {
	font-weight: 700;
}
@mixin gradient {
	background: $gradient-background;
}

//////// MAIN STYLES ////////

*,
*:before,
*:after {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}



body {
	color: $color-text;
	font-family: $font-main;
	// font-size: ;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 10px 0;
}

.mark {
	@include marked-text;
}




//////// ELEMENTS ////////

.btn {
	border: 0;
	outline: none;
	background: none;
	cursor: pointer;

	text-align: center;
	min-width: 170px;
	color: #fff;
	padding: 20px;
	font-weight: 700;
	border-radius: 3px;
	@include gradient;
	&_medium {
		font-weight: 500;
	}
}

.logo {
	font-size: 16px;
	&__name {
		margin-right: 20px;
	}
}

.work-hours {
	font-size: 12px;
	&:after {
		content: '\e94e';
		font-family: $font-icon;
		margin-right: 25px;
		width: 18px;
		height: 18px;
		@include gradient;
	}
}

.call {
	display: flex;
	font-size: 12px;
	.call__mark {
		font-size: 15px;
	}
}



//////// HEADER ////////

.header {
	&__inner {
		display: flex;
		justify-content: space-between;
	}
}




//////// ABOUT ////////

.about {
	&-info {
		&__work-hours:before,
		&__phone:before,
		&__adress:before {
			content: '';
			color: #fb2b2b;
		}
		&__work-hours:before {
			content: '\e94e';
		}
		&__phone {
			content: '\e942';
		}
		&__adress {
			content: '\e947';
		}
	}
}