@import 'fonts.scss';

//////// DATA ////////

$color-main: #1866af;
$color-second: #0b3554;
$color-light: #5297f4;
$color-dark: #08243e;

$font-main: 'Proxima Nova', sans-serif;




//////// MAIN STYLES ////////

html {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

p {
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	font-family: $font-main;
	font-size: 18px;
	color: #fff;
	font-weight: 400;
}

.container {
	max-width: 1170px;
	padding: 0 10px;
	margin: 0 auto;
}



//////// ELEMENTS ////////

.btn {
	display: block;

	color: #fff;
	font-weight: 700;
	font-size: 17px;
	text-transform: uppercase;

	border: 0;
	outline: 0;
	background: $color-main;
	
	width: 370px;
	min-height: 80px;
	padding: 0 10px;

	cursor: pointer;
	transition: background ease-in-out .5s;
	
	&:hover,
	&:focus {
		background: lighten($color-main, 5%);
		outline: inherit;
	}

	&_gold {
		background-color: #f7b516;

		&:hover,
		&:focus {
			background-color: darken(#f7b516, 5%);;
		}
	}
}



.work-hours {
	text-align: center;
	font-size: 12px;

	&__time {
		font-weight: 700;
	}

	&__text {
		margin-top: 15px;
	}
}



.call {
	display: flex;
	align-items: center;

	&-numbers {

		&__number {
			line-height: 22px;
			font-size: 30px;
			font-weight: 800;

			color: inherit;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}

	&-numbers__number-wrap {
		text-align: center;
	}

	&__btn {
		width: 170px;
		min-height: 50px;

		font-size: 12px;
	}
}




.svg {
	width: 30px;
	height: 30px;

	&__image {
		display: block;
	}
}



.section {
	position: relative;
	z-index: 2;

	padding: 100px 0;

	color: #000;
	background-color: #fff;

	&_dark-blue {
		background-color: $color-dark;
		color: #fff;
	}

	&_blue {
		background-color: $color-second;
		color: #fff;
	}
}

.section-title {
	color: inherit;

	font-weight: 900;
	font-size: 32px;
	text-align: center;

	margin: 0 auto 100px;
	max-width: 670px;

	&_small {
		max-width: 445px;
		font-size: 30px;
		margin: 0 auto;
	}
}

.section-subtitle {
	color: inherit;

	font-weight: 400;
	font-size: 20px;
	text-align: center;

	margin: -70px auto 100px;
	max-width: 640px;
}

.section-text {
	color: inherit;

	font-size: 14px;
	text-align: center;
}



.form {

	&__input {
		width: 370px;
		height: 70px;
		padding: 30px;

		border: 1px solid transparent;
		outline: none;
		background-color: #f2f2f2;

		transition: .3s border;

		&::placeholder {
			text-transform: uppercase;
			font-size: 15px;
		}

		&:focus {
			border-color: #000;
		}
	}

	&__btn {
		min-height: 70px;
	}
}

.form-flex {
	display: flex;
	align-items: center;
	justify-content: center;

	&__item +
	&__item {
		margin-left: 30px;
	}
}



.background-image {
	position: absolute;
	z-index: 1;

	img {
		display: block;
	}

	&_top-right {
		right: 0;
		top: 0;
	}

	&_top-left {
		top: 0;
		left: 0;
	}

	&_bottom-left {
		left: 0;
    bottom: 0;
	}

	&_bottom-right {
		bottom: 0;
		right: 0;
	}
}

.content-with-background-image {
	position: relative;
	z-index: 2;
}



.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	text-align: center;
}


.circle {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100px;
	height: 100px;
	margin: 0 auto;

	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 50%;
}




//////// SECTIONS ////////

.header {
	background-color: #191919;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding: 25px 0;
	}

	&-call-numbers {
		margin-right: 25px;

		&__number {
			font-size: 18px;
			font-weight: 900;
		}
	}
}




.topscreen {

	&__images {
		background: url(../img/topscreen/bg.jpg) no-repeat 69% center;
		background-size: cover;

		width: 100%;
		height: 730px;
		margin: 0 auto;
	}

	&__body {
		margin: 0 auto;
		max-width: 340px;
		padding: 100px 0;
		&-wrap {
			color: #000;
			background: #f7b516;

			max-width: 550px;
			margin-top: -730px;
		}
	}

	&__title {
		text-transform: uppercase;
		font-weight: 900;
		font-size: 40px;

		margin-bottom: 50px;
	}

	&__subtitle {
		font-weight: 800;
		font-size: 25px;

		margin-bottom: 100px;
	}
}

.topscreen-advantages {
	max-width: 315px;

	&-item {
		display: flex;
		align-items: center;

		& + & {
			margin-top: 55px;
		}

		&__img-wrap {
			flex: none;

			margin-right: 20px;
		}
	}
}




.price {
	position: relative;

	color: #000;

	padding-bottom: 100px;

	&__background-image {
		width: 670px;
	}

	&__title {
		text-align: right;
		
		margin: 100px 0 40px auto;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	
	&-form {
		
		&__input {
			margin-bottom: 30px;
		}

		&__input + &__input {
			margin-left: 30px;
		}

		&__descr-wrap {
			display: flex;
			align-items: center;
		}

		&__descr {
			display: inline-block;
			max-width: 190px;
			
			font-size: 14px;
			text-align: right;
		}

		&__descr-svg {
			margin: 0 30px;
		}

		&__btn-wrap {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}
}



.proposes {
	
	&-item {
		max-width: 220px;

		& + & {
			margin-left: 20px;
		}

		&__img-wrap {
			height: 100px;
			margin-bottom: 50px;

			display: flex;
			justify-content: center;
			align-items: flex-end;
		}

		&__text {
			min-height: 40px;
		}
	}
}




.detail {

	&-descr {
		text-align: center;

		margin-top: 60px;

		&__phone-wrap {
			margin-top: 30px;
		}
		
		&__number {
			line-height: 50px;
		}
	}
}




.warranty {
	color: #000;

	&-item {
		max-width: 335px;

		&__text {
			margin: 40px 0;
		}

		&__lnk {
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 700;
			transition: .4s;
			border-bottom: 1px solid transparent;
			padding-bottom: 0;
			&:hover,
			&:focus {
				color: lighten(#000, 15%);
				border-bottom: 2px solid lighten(#000, 15%);
			}
		}
	}
}




.bonuses {

	&-item {
		max-width: 241px;

		&__circle {
			font-size: 30px;
			font-weight: 700;
		}

		&__img {
			display: block;
		}

		&__text {
			margin-top: 40px;
			min-height: 60px;
		}
	}
}




.questions {

	&__inner {
		align-items: flex-start;
	}

	&__list-wrap {
		text-align: left;
	}

	&__list {
		margin: 0 0 60px;
		padding: 0;

		max-width: 470px;

		list-style-position: inside;
	}

	&__list_hidden {
		display: none;
	}

	&-item {
		position: relative;
	}

	&-item + 
	&-item {
		margin-top: 55px;
	}

	&__question {
		outline: 0;
		border: 0;
		background-color: transparent;
		color: inherit;

		padding: 0;
		margin-left: 30px;

		border-bottom: 1px solid rgba(#fff, .5);

		font-size: 16px;
		font-weight: 700;

		cursor: pointer;
		transition: .15s;

		&:hover {
			color: darken(#fff, 20%);
			border-color: rgba(darken(#fff, 20%), .5);
		}

		&_active {
			border-bottom-color: transparent;
			color: #579eff;

			&:hover {
				color: #579eff;
				border-color: transparent;
			}
		}
	}

	&__answer {
		opacity: 0;

		position: absolute;
		left: 45px;
		top: 30px;
		z-index: -1;

		width: 330px;
		padding: 15px 50px 18px 15px;

		background-color: #fff;
		color: #000;
		box-shadow: 0px 0px 8px 0px rgba(#000, 0.75);
		transition: .2s opacity ease-in;

		font-size: 14px;

		&::before {
		  content:"";

		  border-width: 8px;
		  border-style: solid;
		  border-color: transparent transparent #fff transparent;

			position: absolute;
			top: -16px;
			left: 10px;
		}

		&_show {
			z-index: 4;

			opacity: 1;
		}
	}

	&__answer-close-btn {
		width: 12px;
		height: 12px;
		padding: 0;

		position: absolute;
		top: 12px;
		right: 12px;
		
		border: 0;
		outline: 0;
		background: transparent no-repeat;
		background-image: url(../img/icons/close.png);
		background-image: linear-gradient(transparent, transparent), url(../img/icons/close.svg);

		opacity: .7;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}
	}
}

.questions__btn {
	outline: 0;
	border: 0;
	background-color: transparent;
	color: inherit;

	padding: 0;
	margin-left: 37px;

	border-bottom: 1px solid rgba(#fff, .5);

	font-size: 14px;

	cursor: pointer;
	transition: .15s;
	position: relative;

	&:hover {
		color: darken(#fff, 15%);
		border-color: rgba(darken(#fff, 15%), .5);
		&::before {
			opacity: .8;
		}
	}

	&::before {
		content: '';

		display: inline-block;
		width: 18px;
		height: 18px;

		background-repeat: no-repeat;
		background-image: url(../img/icons/reload.png);
		background-image: linear-gradient(transparent, transparent), url(../img/icons/reload.svg);

		position: absolute;
		left: -30px;

		transition: ease-in .3s transform;
		transform: rotate(360deg);
	}



	&_slide::before {
		transform: rotate(-360deg);
	}
}

.questions__img {

	&-wrap {
		position: relative;
		height: 100%;
	}

	&-descr {
		background-color: rgba($color-second, .8);
		
		padding: 10px 20px;

		font-size: 14px;

		position: absolute;
		bottom: 0;
		left: 0;
	}
}






.scheme {

	&-item {
		max-width: 230px;
	}

	&-item__img-wrap {
		margin-bottom: 50px;
	}

	&-item__text {
		min-height: 60px;
	}

	&-item__img {
		display: block;
		margin: 0 auto;
	}
}




.warehouse {

}




.brigades {

	&-item {
		max-width: 310px;
	}

	&-item__circle {
		margin-bottom: 40px;

		width: 170px;
		height: 170px;

		border-radius: 50%;
		border: 5px solid #ffbc3b;
	}

	&-item__img {
		display: block;
	}

	&-item__text {
		min-height: 80px;
	}
}




.consultation {

	&__title {
		font-size: 30px;
		
		max-width: none;
		margin-bottom: 60px;
	}

	&__number-wrap {
		margin: 20px 0 60px;
	}
}




.about {

	&__address {
		text-align: center;
		margin-bottom: 36px;
	}
}




.footer {
	background-color: #191919;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding: 25px 0;
	}

	&-call__number {
		font-size: 18px;
		font-weight: 900;
	}

	&-call__text {
		font-size: 13px;
	}

	&-copyright {
		font-size: 12px;
		text-transform: uppercase;

		display: flex;
		align-items: center;
	}

	&-copyright__icon {
		margin: 0 5px;
	}
}