/* ======= FONTS ======= */

@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* ======= GLOBAL STYLES ======= */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;

  border: 0;
  background-color: transparent;
  color: inherit;

  cursor: pointer;
  appearance: none;
}

input,
textarea {
  border: 0;
  resize: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font: 500 14px/1.5 Gilroy, Arial, Helvetica, sans-serif;
  
  background-color: #ffffff;
  color: #000000;
}

.container {
  max-width: 1316px;
  margin: 0 auto;
  padding: 0 10px;
}

.page {
  flex: 1 0 auto;
}

.section {
  margin-bottom: 80px;
}

.row {
  display: flex;
}

.row__column {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 324px;
  width: 100%;
}

.row__column--long {
  max-width: 644px;
  width: 100%;
}

.logo__img {
  max-width: 189px;
}

.btn {
  display: block;
  padding: 15px 25px 14px;

  font-size: 14px;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #00868a;
}

.btn--visually-impaired {
  position: relative;
  padding: 10px 10px 9px 47px;
  min-width: 268px;
}

.btn--visually-impaired::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 15px;

  width: 26px;
  height: 22px;

  background: url("../img/visually-impaired.svg") center/contain no-repeat;
  transform: translateY(-50%);
}

.label-title {
  display: inline-block;
  padding: 8px 15px 9px;
  margin-bottom: 30px;

  font-size: 18px;
  font-weight: 500;

  color: #ffffff;
  background-color: #4fbfa5;
}

.animation-link {
  text-decoration: underline transparent;
  transition: text-decoration 0.3s;
}

.animation-link:hover {
  text-decoration: underline;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* ======= HEADER__TOP ======= */

.header__top {
  display: flex;
  min-height: 90px;

  font-size: 16px;
}

.header__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 30px;
  height: 100%;

  border-right: 1px solid #c4c4c4;
}

.header__cell:first-child {
  border-left: 1px solid #c4c4c4;
}

.header__logo {
  padding: 17px 36px;
}

.header__phone {
  max-width: 189px;
  width: 100%;
  padding: 35px 25px;
}

.header__salons {
  position: relative;

  max-width: 200px;
  width: 100%;
  padding-right: 65px;
}

.header__salons::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 35px;

  display: block;
  width: 20px;
  height: 20px;
  
  background: url("../img/arrow-down.svg") center/contain no-repeat;

  transform: translateY(-50%);
}

.header__btn-cell {
  /* justify-content: start; */
  min-width: 326.9px;
  width: 100%;
  padding: 25px 30px;
}

.header__social {
  display: block;
  min-width: 80px;
  min-height: 90px;
  padding: 33px 28px;

  background: center no-repeat;
}


/* ======= HEADER__MENU ======= */

.header__menu {
  font-size: 18px;
  background-color: #4fbfa5;
}

.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;

  font-size: 18px;
  color: #ffffff;
}

.header__item:first-child {
  margin-left: 61px;
}

.header__item:not(:last-child) {
  margin-right: 65px;
}

.header__item-btn {
  margin: 0 10px 0 auto;
}

.header__btn-booking {
  display: block;
  padding: 10px 15px;

  background-color: #ffffff;
  color: #000000;
}


/* ======= HERO ======= */

.hero {
  background-color: #4fbfa5;
  color: #ffffff;
}

.hero__inner {
  display: flex;
  /* justify-content: space-between; */
}

.hero__info {
  max-width: 416px;
  padding: 134px 0;
  margin-right: 134px;
}

.hero__title {
  margin-bottom: 20px;
  font-size: 48px;
}

.hero__text {
  margin-bottom: 40px;
}

.hero__btn {
  padding: 13px 25px 12px;

  font-size: 18px;
  letter-spacing: 0.05em;
}

.hero__slider-wrap {
  position: relative;
  max-width: 746px;
  max-height: 533px;
}

.hero__slider {
  top: 1px;
}

.hero__slider .slick-prev,
.hero__slider .slick-next {
  position: absolute;
  bottom: 60px;
  left: -120px;

  width: 60px;
  height: 50px;

  font-size: 0;

  border: 1px solid #ffffff;
  background: url("../img/arrow.svg") center no-repeat;
}

.hero__slider .slick-prev {
  left: -179px;
  transform: rotate(180deg);
}

.hero__img {
  max-width: 746px;
}

.hero__item {
  min-height: 83px;

  background-color: #00868a;
  transition: background-color 0.3s;
}

.hero__item--selected {
  background-color: #4fbfa5;
}

.hero__item:first-child {
  max-width: 648px;
}

.hero__item:hover {
  background-color: #00a3a8;
}

.hero__item--selected:hover {
  background-color: #5ad8bb;
}

.hero__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  font-size: 21px;
  text-align: center;
}


/* ======= INNOVATIONS ======= */

.wrapper {
  display: flex;
  margin-bottom: 70px;
}

.innovations {
  max-width: 526px;
  padding: 35px 40px 288px;
  margin-right: 134px;

  background: #00868a bottom center no-repeat;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.innovations__title {
  margin-bottom: 25px;

  font-size: 30px;
  font-weight: 500;
}

.innovations__link {
  position: relative;

  display: block;
  padding-left: 70px;

  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  transform: translateY(3px);
}

.innovations__link::before {
  content: '';
  position: absolute;
  top: 61%;
  left: -4px;

  width: 50px;
  height: 40px;

  border: 1px solid #ffffff;
  background: url("../img/arrow-small.svg") center no-repeat;
  transform: translateY(-50%);
}


/* ======= NUMBERS ======= */

.numbers {
  position: relative;
  padding: 35px 176px 0 0;
}

.numbers__item {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;

  max-width: 214px;
  font-size: 14px;
  color: #b3b3b3;
}

.numbers__item:not(:last-child) {
  margin-bottom: 10px;
}

.numbers__item--selected {
  margin: 20px 0;
  max-width: 460px;

  font-size: 28px;
  color: #000000;
}

.numbers__item--selected:not(:last-child) {
  margin-bottom: 20px;
}

.numbers__num {
  margin-right: 20px;
  font-size: 48px;
}

.numbers__item--selected .numbers__num {
  margin-right: 30px;
  font-size: 96px;
  color: #00868a;
}

.numbers__img-wrap {
  position: absolute;
  bottom: 38px;
  right: -28px;
  z-index: 1;

  box-shadow: 0 0 20px 0 rgba(138, 138, 138, 0.25);
}

.numbers__img {
  width: 306px;
}


/* ======= NEWS ======= */

.news__inner {
  display: flex;
}

.news__label-title {
  margin: 32px 0 29px 40px;

  background-color: #00868a;
}

.news__menu {
  min-width: 526px;

  background-color: #4fbfa5;
  color: #ffffff;
  font-size: 18px;
}

.tabs__tab {
  transition: background-color 0.3s;
}

.tabs__tab--active {
  background-color: #00868a;
}

.tabs__btn {
  display: block;
  width: 100%;
  height: 100%;
  padding: 35px 40px;

  text-align: left;
}

.news__item {
  display: none;
}

.news__item--active {
  display: block;
}

.article {
  padding: 35px 60px 82px;
  background-color: rgba(0, 134, 138, 0.1);
}

.article__title {
  margin-bottom: 25px;

  font-size: 24px;
  font-weight: 700;
}

.article__item {
  position: relative;
  padding-left: 21px;
}

.article__item:not(:last-child) {
  margin-bottom: 15px;
}

.article__item::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;

  width: 6px;
  height: 6px;

  background-color: #00868a;
  border-radius: 2px;
}


/* ======= OFFERS ======= */

.offers {
  padding-top: 80px;
  background-color: rgba(0, 134, 138, 0.1);
}

.offers__title {
  margin-bottom: 60px;

  font-size: 48px;
  text-align: center;
  font-weight: 700;

  color: #00868a;
}

.offers__inner {
  display: flex;
  justify-content: center;
  margin-bottom: -206px;
}

.offer {
  position: relative;
  padding: 230px 30px 25px;

  background: #00868a top center/contain no-repeat;
  color: #ffffff;
}

.offer:not(:last-child) {
  margin-right: 24px;
}

.offer__label {
  position: absolute;
  top: 21px;
  left: 23px;
  padding: 10px 15px;

  font-size: 18px;
  line-height: auto;
  font-weight: 500;

  background-color: #4fbfa5;
}

.offer__title {
  position: relative;
  margin-top: 25px;
  padding-right: 65px;

  font-size: 21px;
}

.offer__title::after {
  content: '';
  position: absolute;
  bottom: 12px;
  right: 1px;
  
  width: 50px;
  height: 40px;

  background: url("../img/arrow-small.svg") center no-repeat;
  border: 1px solid #ffffff;
}


/* ======= FOOTER ======= */

.footer {
  background-color: #ffffff;
}

.footer__inner {
  display: flex;
  padding: 306px 0 79px;
}

.footer__links {
  margin-right: 134px;
  max-width: 856px;
}

.footer__links-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -191px -30px 0;
}

.footer__column {
  max-width: 158px;
  width: 100%;
  margin: 0 191px 30px 0;
}

.footer__title {
  margin-bottom: 20px;
  font-size: 21px;
}

.footer__item:not(:last-child) {
  margin-bottom: 15px;
}

.footer__contact {
  margin-top: 11px;
}

.footer__contact-title {
  margin-bottom: 10px;

  text-transform: uppercase;
  font-size: 11px;

  color: rgba(0, 0, 0, 0.5);
}

.footer__text.footer__link {
  margin-bottom: 30px;
}

.footer__text {
  display: block;
  margin-bottom: 15px;

  font-size: 21px;
  font-weight: 700;
  font-style: normal;
}

.footer__btn {
  display: block;
  max-width: 172px;
  margin-bottom: 30px;
  padding: 13px 29px;
  transform: translateY(3px);
}


/* ======= MODAL ======= */

.modal {
  display: none;
}

.modal-booking {
  max-width: 500px;
}

.modal__title {
  margin-bottom: 30px;

  font-size: 28px;
  text-align: center;
}

.modal__input {
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 0 auto 30px;
  padding: 15px 25px;

  border: 1px solid #cccccc;
}

.modal__btn {
  display: block;
  margin: 40px auto 0;
}


/* ======= MEDIA ======= */

@media (max-width: 1280px) {
  .offers__inner {
    flex-wrap: wrap;
    margin: 0 -24px -48px 0;
    padding-bottom: 80px;
  }

  .offer {
    margin: 0 24px 48px 0;
    padding-top: 315px;
  }

  .offer:not(:last-child) {
    margin-right: 24px;
  }
  
  .offer__title::after {
    top: 50%;
    transform: translateY(-50%);
  }

  .footer__inner {
    padding-top: 80px;
  }
}

@media (max-width: 900px) {
  .offers__inner {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .offer {
    margin: 0;
  }

  .offer:not(:last-child) {
    margin-right: 0;
    margin-bottom: 48px;
  }
}

@media (max-width: 425px) {
  .offers {
    padding-top: 35px;
  }

  .offers__title {
    font-size: 32px;
    margin-bottom: 37px;
  }

  .offer {
    padding-top: 74%;
  }

  .offer__title {
    line-height: 1.2;
  }
}