@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Righteous&family=Urbanist:wght@500;600&display=swap');


/* ============== ОБЩИЕ СТИЛИ ============== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #fff;
	font: 500 16px/28.8px 'Urbanist', Arial, Helvetica, sans-serif;
	background-color: #14110e;
}

a {
	color: inherit;
	text-decoration: none;
	transition: 0.4s;
}

ul li,
ol li {
	list-style-type: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}

button {
	display: block;
	border: none;

	font: inherit;
	color: inherit;
	background-color: transparent;

	transition: 0.4s;
	cursor: pointer;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 10px;
}

.section {
	padding-bottom: 140px;
}

.title {
	font: 48px/62px Righteous, cursive;
	text-align: center;
	margin-bottom: 56px;
}

.subtitle {
	font: 600 18px/21.6px 'Urbanist', Arial, Helvetica, sans-serif;
	text-align: center;
	color: #c99e71;
	margin-bottom: 12px;
}

.section__text {
	opacity: 0.8;
	text-transform: capitalize;
}

.btn-primary {
	font: 700 18px/21.78px 'Inter', Arial, Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;

	background-color: #c99e71;
	padding: 20px 36px;
}

.btn-primary:hover {
	background-color: #bd864b;
}

.round-btn {
	width: 56px;
	height: 56px;
	border-radius: 50%;

	cursor: default;
	background-color: #121315;
}

.round-btn_active {
	background-color: #c99e71;
	color: #010102;
	cursor: pointer;
}

.round-btn_active:hover {
	box-shadow: 0 2px 10px #c99e71;
}

.input {
	display: block;
	padding: 16px 20px;

	font: 600 18px/32px 'Urbanist', Arial, Helvetica, sans-serif;
	
	background-color: #14110E;
	color: inherit;
	outline: none;
	border: 0;
	opacity: 0.8;

	width: 100%;
}


/* ============== HEADER ==============  */

.header {
	background-color: #1c1814;
	padding: 32px 0;
}

.header__container {
	max-width: 1340px;
}

.header__inner,
.nav,
.nav__list,
.action {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* LOGO  */
.logo {
	max-width: 72px;
	max-height: 60px;
}

/* ACTION */
.action {
	margin-left: 48px;
	gap: 50px;
}

.action__search,
.action__cart {
	font-size: 30px;
}

/* NAV */
.nav {
	flex-grow: 1;
}

.nav__list {
	font: 400 18px 'Inter', Arial, Helvetica, sans-serif;
	gap: 48px;
}

.nav__link_selected {
	font-weight: 700;

	color: #c99e71;
	cursor: default;
}

.nav__link:hover,
.action__search:hover,
.action__cart:hover {
	color: #c99e71;
}


/* ============== BANNER ==============  */

.banner {
	background: url("../img/banner.jpg") 100% 100%/cover no-repeat;
}

.banner__inner {
	display: flex;
	justify-content: space-between;

	padding: 147px 0 158px;
}

.banner-info {
	max-width: 530px;
}

.banner__title {
	font: 72px/94px Righteous, cursive;
}

.banner__text {
	font-size: 20px;
	line-height: 36px;
	text-transform: capitalize;
	opacity: 0.8;

	margin: 32px 0 64px;
}

.banner__btn {
	padding: 24px 40px;
}

.banner-video__btn {
	font: 400 16px 'Inter', Arial, Helvetica, sans-serif;
	text-transform: uppercase;

	position: relative;

	display: flex;
	align-items: flex-end;
	align-self: end;

	height: 110px;
}

.banner-video__btn:hover {
	color: #c99e71;
}

.banner-video__btn::before {
	content: '';

	position: absolute;
	top: 0;
	left: 50%;

	width: 66px;
	height: 66px;
	border-radius: 50%;

	border: 2px solid #fff;
	background: url("../img/play.svg") 50%/10px no-repeat;
	transform: translateX(-50%);
}


/* ============== FEATURES ==============  */

.features__inner {
	display: flex;
	justify-content: space-between;
	gap: 36px;

	padding-top: 140px;
}

.features__item {
	font: 24px/30px Righteous, cursive;
}

.features__num {
	color: #c99e71;
	margin-right: 12px;
}

.features__img {
	display: block;
	margin-top: 24px;
}


/* ============== HISTORY ==============  */

.history__inner {
	display: grid;
	gap: 32px;
	align-items: stretch;

	grid-template-columns: 1fr 1fr 2fr;
	grid-template-rows: 1fr 1fr;
}

.history__img:first-child {
	grid-column: 1/2;
	grid-row: 1/2;
}

.history__img:nth-child(2) {
	grid-column: 2/3;
	grid-row: 1/3;
}

.history__img:last-child {
	grid-column: 1/2;
	grid-row: 2/3;
}

.history__content {
	grid-column: 3/4;
	grid-row: 1/3;

	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 0 56px;
	background-color: #1C1814;
}

.history__title,
.history__subtitle {
	text-align: left;
}

.history__subtitle {
	margin-bottom: 36px;
}


/* ============== POPULAR ==============  */

.popular__products {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	margin-bottom: 56px;
}

.popular-product {
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;

	padding: 48px 48px 40px;
	background-color: #121315;
}

.popular-product:hover .popular-product__btn {
	display: flex;
}

.popular-product:hover .rating,
.popular-product:hover .popular-product__price {
	display: none;
}

.popular-product__img {
	display: block;
	margin-bottom: 36px;
}

.popular-product__title {
	font: 24px/30px Righteous, cursive;
	margin: 12px 0 20px;
}

.popular-product__price {
	display: block;
	font-size: 18px;
	font-weight: 600;
}

.popular-product__price_dark {
	color: #C99E71;
}

.popular-product__btn {
	display: none;
	justify-content: center;
	align-items: center;
	gap: 15px;

	text-transform: none;
	font: 600 18px/21.6px 'Urbanist', Arial, Helvetica, sans-serif;

	width: 170px;
	margin: 30px auto 0;
	padding: 13px 0;
}

.popular__link {
	display: block;
	width: 265px;
	margin: 0 auto;
}


/* ============== RATING ==============  */

.rating {
	display: flex;
	justify-content: center;
	gap: 15px;

	color: #c99e71;
}

.rating__title {
	font-weight: 500;
}

.rating__list {
	display: flex;
	justify-content: space-between;
	gap: 7px;
}

.rating__item {
	font-size: 22px;
	line-height: 26px;

	cursor: pointer;
}

.rating__item_filled {
	font-variation-settings: 'FILL' 1;
}


/* ============== MACHINE ==============  */

.machine__inner {
	display: flex;
	justify-content: space-between;

	padding: 72px 80px 84px 170px;
	background: #1C1814;
}

.machine__info {
	max-width: 535px;
}

.machine__title {
	text-align: left;
	margin-bottom: 0;
}

.machine__text {
	margin: 36px 0;
}

.machine__link {
	display: block;
	max-width: 215px;
}


/* ============== MENU ==============  */

.menu__inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 40px;
}

.menu__item {
	display: flex;
	align-items: center;
	padding: 10px;

	border: 1px solid #32323D;
}

.menu__title {
	font: 24px/30px Righteous, cursive;

	margin: 0 110px 0 20px;
}

.menu__price {
	color: #c99e71;
}


/* ============== CUSTOMERS ==============  */

.customers-action {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.customers-count__text {
	display: block;
	margin-bottom: 20px;

	font-size: 20px;
	color: #c99e71;
}

.customers-count__progress {
	appearance: none;
	width: 120px;
	height: 4px;
}

.customers-count__progress::-webkit-progress-bar {
	background-color: #2b2826;
}

.customers-count__progress::-webkit-progress-value {
	background-color: #c99e71;
	border-radius: 3px;
}

.customers-btn-wrap {
	gap: 16px;
}

/* REVIEW */
.reviews-wrap {
	display: flex;
	justify-content: space-between;
	gap: 40px;

	margin-bottom: 36px;
}

.review {
	background-color: #1c1814;
	padding: 40px;
}

.review__customer {
	gap: 16px;
}

.review__customer,
.review__data {
	display: flex;
	justify-content: space-between;
}

.review__img {
	display: block;
	width: 129px;
	height: 149px;
}

.review__data {
	margin-top: 28px;
}

.review__name {
	display: block;
	font-size: 18px;
	margin-bottom: 4px;
}

.review__position {
	font-size: 14px;
	line-height: 25px;
	opacity: 0.5;
}

.review__rating {
	align-self: flex-end;
}

.review__rating-list {
	gap: 4px;
}

.review__rating-item {
	color: #faa61a;
	font-size: 20px;
	cursor: default;
}


/* ============== RESERVATION ==============  */

.reservation {
	display: flex;
	justify-content: center;
}

.reservation-map {
	width: 50%;
	background: url("../img/map.jpg") 50% 0/cover no-repeat;
}

.reservation__inner {
	width: 50%;
	padding: 72px 48px;
	background-color: #1c1814;
}

.reservation__input {
	margin-bottom: 24px;
}

.reservation__btn {
	width: 205px;
	margin: 56px auto 0;
}


/* ============== NEWS ==============  */

.news__inner,
.news-article__info {
	display: flex;
	justify-content: space-between;
	gap: 36px;
}

.news-article__img {
	display: block;
}

.news-article__description {
	padding: 20px 24px 30px;
	background-color: #1c1814;
}

.news-article__info {
	margin-bottom: 16px;
	font-size: 18px;
}

.news-article__author_dark {
	color: #c99e71;
}

.news-article__title {
	font: 20px/30px Righteous, cursive;
	margin-bottom: 32px;
}

.news-article__link {
	display: flex;
	align-items: center;
	gap: 15px;

	color: #c99e71;
}

.news-article__link:hover {
	color: #bd864b;
}


/* ============== FOOTER ==============  */

.footer__inner {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 5px;

	padding-bottom: 72px;
}

.footer__logo {
	margin-right: 36px;
}

.footer__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 40px;

	font-size: 20px;
}

.footer__link:hover {
	color: #bd864b;
}

/* Footer form */
.footer-form {
	position: relative;
	max-width: 328px;
	margin-left: auto;
}

.footer-form__input {
	width: 100%;
	padding: 22px 70px 22px 28px;

	border-radius: 36px;
	background-color: #1c1814;
}

.footer-form__btn {
	position: absolute;
	top: 50%;
	right: 12px;

	width: 48px;
	height: 48px;
	transform: translateY(-50%);
}

.footer-copyright {
	background-color: #1c1814;
	padding: 32px 0;
	text-align: center;
}

.footer-copyright__text {
	font-size: 14px;
	line-height: 25.2px;
}