@media (max-width: 977px) {
	.list {
		justify-content: space-around;
	}
	.list__item +
	.list__item {
		margin-left: 0;
	}
	.list__item {
		margin: 0 7px 20px;
	}
	.section {
		padding-bottom: 40px;
	}
}

@media (max-width: 916px) {
	.list__item {
		margin: 0;
    margin-bottom: 20px;
	}
	.showcase-top-product {
		padding: 20px;
	}
}

@media (max-width: 769px) {
	/* === BURGER === */
	.menu {
		top: 0;
		margin: 20px 0;
	}
	.menu__ul {
		display: none;
	}
	.menu__ul:last-child {
		border-bottom: 1px solid rgba(0, 0, 0, .3);
	}
	.menu__link {
		border-top: 1px solid rgba(0, 0, 0, .3);
	}
	.menu__burger-wrapper {
		display: block;
	  height: 30px;
	  width: 30px;
	  position: relative;
	  cursor: pointer;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
	.menu__burger::before,
	.menu__burger,
	.menu__burger::after,
	.menu__burger_active::before,
	.menu__burger_active,
	.menu__burger_active::after{
	  position: absolute;
	  left: 0;
	  content: '';
	  width: 30px;
	  height: 5px;
	  background-color: #000;
	  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
	}
	.menu__burger::before {
	  top: -10px;
	}
	.menu__burger::after {
	  top: 10px;
	}
	.menu__burger_active {
	  background-color: transparent;
	}
	.menu__burger_active::before {
	  transform: rotate(-45deg);
	  top: 0;
	}
	.menu__burger_active::after {
	  transform: rotate(45deg);
	  top: 0;
	}
	/* === //BURGER ====*/
}

@media (max-width: 665px) {
	.footer__top-info {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.header__top-info {
		justify-content: space-between;
		align-items: center;
		margin-top: 10px;
	}
	.header-logo__descr,
	.header-logo__name {
		display: none;
	}
	.header-logo {
		display: inline-block;
	}
	.footer-logo {
		margin-bottom: 20px;
	}
	.top {
		padding-top: 30px;
		padding-bottom: 100px;
	}
	.section-title {
		padding-top: 50px;
		margin-bottom: 30px;
	}
}

@media (max-width: 520px) {
	.header-phone__descr {
		display: none;
	}
	.header-phone-number {
		margin-right: 10px;
	}
}

@media (max-width: 500px) {
	.showcase-popular__inner {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
}

@media (max-width: 450px) {
	.actions__button-lnk {
		display: block;
		margin: 0;
		margin-bottom: 10px;
	}
	.actions__text {
		margin: 0 10px 0 5px;
	}
	.top__descr {
		margin-bottom: 35px;
	}
	.header-phone-number {
		display: none;
	}
}

@media (max-width: 405px) {
	.footer-phone {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.footer-phone__link {
		text-align: center;
	}
	.footer-phone-number {
		margin-right: 0;
		margin-bottom: 20px;
	}
}

@media (min-width: 770px){
	.menu__ul {
		display: flex !important;
	}
}