@import url(fonts.min.css);
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: GothamPro, sans-serif;
	color: #292929;
	font-size: 12px;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

button {
	outline: none;
	border: none;
	font-family: inherit;
	cursor: pointer;
}

img {
	max-width: 100%;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}




/* ======= ELEMENTS ====== */

/* == top-info ===*/
.top-info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.header__top-info {
	margin-top: 30px;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo__wrapper {
	margin-left: 15px;
}

.logo__name {
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
}

.logo__descr {
	font-size: 11px;
	color: #969696;
	font-weight: 300;
}

.phone {
	display: flex;
	justify-content: center;
	align-items: center;
}

.phone-number {
	margin-right: 30px;
}

.phone-number__link {
	font-size: 18px;
	font-weight: 700;
	display: block;
	text-align: right;
}

.phone-number__descr {
	font-size: 11px;
	color: inherit;
}

.phone-button {
	font-weight: 500;
	background-color: transparent;
	border: 2px solid #000;
	padding: 13px 23px;
	color: inherit;
}

/* === button ==== */
.button-lnk {
	display: inline-block;
	background-color: #ffd200;
	color: #000;
	max-width: 180px;
	padding: 20px 0;
	width: 100%;
	text-align: center;
	font-weight: 500;
	font-size: 12px;
	transition: background-color .5s;
}

.button-lnk:hover {
	background-color: #E1B400;
	text-decoration: underline;
}

/* === section ==== */
.section {
	padding-bottom: 80px;
}

.section_gray {
	background-color: #f4f4f4;
}

.section-title {
	padding-top: 80px;
	margin-bottom: 60px;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

/* === list ==== */
.list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
}

.list__item {
	border: 2px solid #f6f6f6;
	text-align: center;
	max-width: 31.25%;
}

.list__item +
.list__item {
	margin-left: 20px;
}

.list__item_hover-effect {
	transition: .5s background-color, box-shadow;
}

.list__item_hover-effect:hover {
	cursor: pointer;
	background-color: #fff;
	box-shadow: 0px 9px 21px 0px rgba(0, 0, 0, 0.05);
}

/* === stock ===*/
.stock::before {
	display: inline-block;
	content: 'Акция';
	text-transform: uppercase;
  padding: 8px;
  background-color: #f00;
  color: #fff;
  position: absolute;
  top: 3%;
  margin-left: 10px;
}



/* ======= HEADER ======= */

.header-logo__descr {
	color: #969696;
}

.header-menu {
	position: relative;
	top: 30px;
}

.menu__ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.menu__item {
	width: 100%;
}

.menu__link {
	display: block;
	font-size: 14px;
	font-weight: 500;
	background-color: #fc0;
	text-align: center;
	padding: 26px 0;
	transition: background-color .5s;
}

.menu__link:hover {
	background-color: #D8AD00;
}

.menu__burger-wrapper {
	display: none;
}




/* ======= TOP ======= */

.top {
	background-image: url(../img/top/bg.jpg);
	color: #fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	font-size: 14px;
	font-weight: 300;
	padding-top: 170px;
	padding-bottom: 140px;
}

.top__title {
	margin-bottom: 45px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 36px;
}

.top__descr {
	display: block;
	max-width: 245px;
	margin-bottom: 65px;
}

.top-actions__button-lnk {
	max-width: 200px;
	width: 100%;
}

.actions__text {
	margin: 0 15px 0 30px;
}

.actions__link {
	text-decoration: underline;
	transition: background-color .5s;
}

.actions__link:hover {
	background-color: rgba(255, 255, 255, .1);
}




/* ======= SHOWCASE-TOP ======= */

.showcase-top-product {
	padding: 35px;
	color: #626262;
}

.showcase-product {
	position: relative;
}

.showcase-product__name {
	font-size: 15px;
	text-decoration: underline;
	font-weight: 500;
	margin: 30px 0 20px 0;
	color: #292929;
}

.showcase-product__price {
	margin: 30px 0;
	font-size: 16px;
	font-weight: 500;
}

.showcase-top-product__price {
	color: #0f0f0f;
}

.showcase-product__img {
	width: 100%;
	max-height: 117px;
}




/* ======= ADVANTAGES ======= */

.advantages-list__item {
	border-color: #fff;
	padding: 40px;
	background-color: transparent;
	cursor: pointer;
	transition: background-color .5s;
}

.advantages-list__title {
	font-weight: 500;
}

.advantages-list__descr {
	font-weight: 400;
}




/* ======= SHOWCASE-POPULAR ======= */

.showcase-popular-product {
	max-width: 25.52083333333333%;
	padding: 20px 10px;
}

.showcase-popular-product__img-wrap {
	position: relative;
}

.showcase-popular-product__name {
	font-weight: 400;
	font-size: 13px;
	color: #292929;
}

.showcase-product__price-old,
.showcase-product__price-new {
	display: inline-block;
}

.showcase-product__price-old {
	font-size: 10px;
	color: #979797;
	text-decoration: line-through;
	vertical-align: middle;
	margin-right: 15px;
}

.showcase-product__price-new {
	color: #f00;
	font-weight: 500;
	font-size: 16px;
}




/* ======= SERVICES ======= */

.services-list__name {
	font-weight: 500;
	color: #292929;
	font-size: 15px;
	text-decoration: underline;
}

.services-list__item {
	border-color: #fff;
	padding: 50px 45px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.services-list__name {
	margin-top: 40px;
}




/* ======= FOOTER ======= */

.footer {
	background-color: #292929;
	color: #fff;
	padding: 50px 0 45px 0;
}

.footer-phone-button {
	border-color: #fff;
}