@import url(fonts.css);
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: GothamPro, sans-serif;
	color: #292929;
	font-size: 12px;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

button {
	outline: none;
	border: none;
	font-family: inherit;
	cursor: pointer;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}





/* ======= HEADER ======= */

.header__inner {
	padding-top: 30px;
}

.top-info {
	display: flex;
	justify-content: space-between;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo__wrapper {
	margin-left: 15px;
}

.logo__name {
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
}

.logo__descr {
	font-size: 11px;
	color: #969696;
	font-weight: 300;
}

.header-logo__descr {
	color: #969696;
}

.phone {
	display: flex;
	justify-content: center;
	align-items: center;
}

.phone-number__link {
	font-size: 18px;
	font-weight: 700;
}

.header-phone-number {
	margin-right: 30px;
}

.phone-number__link {
	display: block;
	text-align: right;
}

.phone-number__descr {
	font-size: 11px;
}

.header-phone__descr {
	color: #969696;
}

.phone-button {
	font-weight: 500;
	background-color: transparent;
	border: 2px solid #000;
	padding: 13px 23px;
}

.header-phone-button {
	color: #292929;
}

.header-menu {
	position: relative;
	top: 30px;
	background-color: #fc0;
	width: 100%;
}

.menu__ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.menu__item {
	max-width: 150px;
}

.menu__link {
	font-size: 14px;
	font-weight: 500;
	background-color: #fc0;
	width: 100%;
	text-align: center;
	padding: 26px 0;
}

.menu__link:hover {

}




/* ======= INFO ======= */

.top {
	background-image: url(../img/top/bg.jpg);
	color: #fff;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	font-size: 14px;
	font-weight: 300;
	padding-top: 170px;
	padding-bottom: 140px;
}

.top__title {
	margin-bottom: 45px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 36px;
}

.top__descr {
	display: block;
	max-width: 245px;
	margin-bottom: 65px;
}

.top-actions__button-link {
	background-color: #ffd200;
	color: #000;
	font-weight: 500;
	padding: 20px 30px;
}

.actions__text {
	margin: 0 15px 0 30px;
}

.actions__link {
	text-decoration: underline;
}




/* ======= SHOWCASE-TOP ======= */

.showcase-top__inner {
	padding-bottom: 80px;
}

.section-title {
	padding-top: 80px;
	margin-bottom: 60px;
	font-weight: 700;
	font-size: 20px;
}