/* Общие стили */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  font: 400 16px/1.85 Poppins, Arial, Helvetica, sans-serif;

  color: #ffffff;
  background-color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.wrapper {
  background: linear-gradient(180deg, #000 0%, rgba(26,14,1,1) 100%);
  width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1165px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  padding: 9px 17px;

  background: #fa9021;
  border: 0;
  border-radius: 5px;
  cursor: pointer;

  transition: background 0.5s ease;
}

.btn:hover {
  background: #ff8200;
}

.round-btn {
  padding: 15px 30px;

  font-size: 16px;
  font-weight: 500;

  color: #fff;
  border: 0;
  border-radius: 50px;
  background: linear-gradient(-83deg, #fa8305, #fb9e3c);

  transition: transform 500ms ease;
  cursor: pointer;
}

.round-btn:hover {
  transform: scale(1.1);
}

.see-all-btn {
  padding: 12px 23px;

  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;

  border-radius: 5px;
  color: #ffffff;
  background: #25211d;
  transition: all 500ms ease;
}

.see-all-btn:hover {
  transform: scale(1.1);
}

/* Шапка */

.header {
  padding-top: 44px;
}

.header__container {
  max-width: 1340px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 29px;
  font-weight: 800;
  text-transform: uppercase;
}

.menu {
  width: 50%;
}

.menu__list {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: space-between;

  list-style: none;
}

.menu__item {
  display: inline-block;
}

.menu__item:not(:last-child) {
  margin-right: 88px;
}

.menu__item-btn {
  margin-left: -51px;
}

.menu__link {
  position: relative;
  padding-bottom: 5px;

  color: #fff;
}

.menu__link--active::before,
.menu__link--active::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: -10px;

  display: block;
  width: 30px;
  height: 4px;

  background: #dc7000;
  border-radius: 20px;
}

.menu__link--active::after {
  left: 23px;

  width: 5px;
  height: 4px;
}

.menu__link--active {
  cursor: default;
}

.menu__link:not(.menu__link--active):hover {
  border-bottom: 5px solid #dc7000;
}

/* Hero */

.hero {
  position: relative;
  z-index: 1;

  padding-bottom: 100px;
}

.hero__info {
  max-width: 530px;
  padding-top: 117px;
}

.subtitle {
  font-size: 20px;
  font-weight: 700;
  color: #E87D0E;
}

.hero__title {
  font-size: 50px;
  line-height: 1.55;
  font-weight: 700;
}

.hero__text {
  font-weight: 500;
  line-height: 2;
  margin: 30px 0;
}

.hero__img {
  position: absolute;
  top: -100px;
  right: 45px;
  z-index: -1;
}

/* Секция с играми */

.trending {
  padding-top: 132px;
}

.trending__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trending__title {
  font-weight: 700;
  font-size: 31px;
}

.games {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px 0;
}

.games__text-wrap {
  margin-top: 20px;

  font-weight: 500;
  font-size: 22px;
  text-align: center;
}

.games__text {
  position: relative;
  padding-left: 34px;
}

.games__text::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;

  width: 20px;
  height: 25px;

  background: url("../img/fire.svg") center/cover no-repeat;
  transform: translateY(-50%);
}

.games__img {
  position: relative;
  top: 5px;
  margin-right: 7px;
}

/* Большой текст */

.big-text__inner {
  max-width: 800px;
  padding: 129px 0 67px;
  margin: 0 auto;

  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

/* Баннер */

.banner {
  padding-bottom: 157px;
}

.banner__title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

.banner__text {
  line-height: 170%;
  margin-bottom: 30px;
  width: 550px;
}

.banner__img {
  width: 100%;
  margin-bottom: 30px;
}

/* Features */

.features {
  padding: 92px 0;

  background: url("../img/bg.jpg") no-repeat center center/cover fixed;
}

.features__title,
.features__text {
  margin-bottom: 20px;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.features__title {
  font-size: 30px;
}

.features__info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.features__block {
  text-align: center; 
  width: 20%; 
  margin: 30px 2%;
}

.features__img {
  margin-bottom: 15px;
}

/* Projects */

.projects {
  padding: 140px 0 105px;
}

.projects__title {
  font-size: 30px;
  text-align: center;
}

.projects__text {
  margin: 40px 0;
  text-align: center;
}

.projects__images {
  margin-bottom: 72px;
}

.projects__row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
}

.projects__see-all {
  display: block;
  width: 140px;
  margin: 0 auto;
  padding: 10px 30px;
}

/* Email */

.email {
  padding-bottom: 120px;
}

.email__title {
  margin-top: 60px;
  font-size: 30px;
}

.email__block {
  background: #1c140f;
  margin-top: 30px;
  border-radius: 10px;
  padding: 40px 50px 42px 56px;
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email__block-title {
  margin-bottom: 10px;

  font-size: 30px;
  line-height: 1;
  font-weight: 500;
}

.email__text {
  width: 500px;
}

.email__form {
  position: relative;
}

.email__input {
  width: 380px;
  padding: 14px 115px 14px 20px;
  
  font-family: "Poppins", sans-serif;
  font-weight: 400;

  background: #fff;
  outline: none;
  border: 0;
  border-radius: 8px;
}

.email__input::placeholder {
  color: #898989;
}

.email__btn {
  position: absolute;
  top: 50%;
  right: 6px;

  font-size: 13px;

  border: 0;
  padding: 8px 13px 9px 22px;
  color: #ffffff;
  border-radius: 8px;

  transform: translateY(-50%);
  cursor: pointer;
}

/* Страница "о нас" */

.hero-about {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}

.hero-about__info {
  display: flex;
  flex-direction: column;
  max-width: 425px;
  height: 100%;
}

.hero-about__title {
  margin: auto 0 25px;
  font-size: 30px;
  line-height: 1.8;
}

.hero-about__text {
  margin-bottom: 60px;
  line-height: 2;
}

.hero-about__btn {
  position: relative;

  width: 180px;
  padding: 16px 57px 16px 19px;
  margin-bottom: auto;
}

.hero-about__btn::after {
  content: '';
  position: absolute;
  right: 27px;
  top: 50%;

  width: 12px;
  height: 12px;

  background: url("../img/arrow.svg") center/cover no-repeat;
  transform: translateY(-50%);
}

/* Наша команда */

.team {
  padding: 148px 0 157px;
}

.team__title {
  margin-bottom: 53px;

  font-size: 25px;
  font-weight: 600;
}

.team__list {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.team__member {
  max-width: 295px;
  width: 100%;
  padding: 35px 50px 30px;
  text-align: center;

  background-color: #1c140f;
}

.team__name {
  font-size: 19px;
  font-weight: 600;
}

.team__role {
  font-size: 16px;
  font-weight: 300;
  line-height: 2.02;
}

/* Work */

.work {
  padding: 145px 0;
}

.work__container {
  max-width: 1240px;
}

.work__title {
  font-size: 25px;
  margin-bottom: 40px;
}

.work__blocks {
  display: flex;
  justify-content: space-between;
}

.work__block {
  max-width: 378px;
  border-radius: 10px;
  padding: 50px 35px;
  background: #1c140f;
}

.work__block-title {
  font-size: 20px;
  margin: 20px 0;
}

.badge {
  border-radius: 7px;
  padding: 10px 20px;
}

.badge--purple {
  background: #560f67;
}

.badge--brown {
  background: #31190d;
}

.badge--green {
  background: #192a1d;
}

/* Страница с контактами */

.hero-contacts {
  padding: 100px 0 150px;
}

.hero-contacts__title {
  margin-bottom: 13px;

  text-align: center;
  font-size: 30px;
}

.hero-contacts__text {
  margin-bottom: 95px;
  text-align: center;
}

.hero-contacts__img {
  display: block;
  max-width: 1060px;
  margin: 0 auto;
}

/* Форма */

.feedback {
  padding: 55px 0 60px;
  background: url("../img/form-bg.jpg") no-repeat center center/cover fixed;
}

.feedback__title {
  margin-bottom: 10px;

  text-align: center;
  font-weight: 500;
  font-size: 30px;
}

.feedback__text {
  text-align: center;
  margin-bottom: 80px;
}

.feedback__form {
  margin: 0 auto;
  max-width: 670px;
}

.form__inline {
  display: flex;
  justify-content: space-between;
  gap: 27px;
}

.feedback__label {
  width: 50%;

  font-size: 14px;
  line-height: 1.75;
  font-weight: 500;
  letter-spacing: -0.3px;
  text-transform: capitalize;

  color: #4f4f4f;
}

.feedback__input,
.feedback__textarea {
  display: block;
  width: 100%;
  padding: 15px 10px;
  margin: 3px 0 20px;

  background: #2c2420;
  border: 0.6px solid #cecece;
  border-radius: 10px;
  outline: none;
  color: #fff;
}

.feedback__one-line {
  width: 100%;
}

.feedback__textarea {
  resize: none;
  height: 232px;
}

.feedback__btn-wrap {
  margin-top: 50px;
}

.feedback__btn {
  display: block;
  padding: 15px 35px;
  margin-left: auto;

  border-radius: 10px;
  color: #fff;
}

/* Футер */

.footer {
  padding: 50px 0;
  background: #000;
}

.footer__container {
  max-width: 1260px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer__text {
  width: 300px;
  margin: 15px 0;
}

.footer__title {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 15px;
}

.footer__link {
  line-height: 1.85;
  color: #ffffff;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__copy {
  padding-top: 30px;

  text-align: center;
  font-size: 13px;
  line-height: 1.9;

  border-top: 0.6px solid #cccccc;
}
