@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* Общие стили */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Poppins", sans-serif;
	font-weight: 400; 
	color: #fff;
	font-size: 16px;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.wrapper {
	background: linear-gradient(180deg, #000 0%, rgba(26,14,1,1) 100%);
	width: 100%;
	overflow-x: hidden;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.btn {
  background: #FA9021;
  padding: 9px 17px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.5s ease;
}

.btn:hover {
  background: #ff8200;
}

/* Шапка */

.header {
  padding: 50px 0;
}

.logo {
  font-size: 29px;
  font-weight: 800;
  text-transform: uppercase;
}

.menu {
  float: right;
  width: 50%;
}

.menu__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

.menu__item {
  display: inline-block;
}

.menu__link {
  color: #fff;
}

.menu__item_active::after {
  content: '';
  position: relative;
  top: 10px;
  left: -15px;

  display: block;
  width: 40px;
  height: 5px;

  background: #dc7000;
  border-radius: 10px;
}

.menu__link:not(.menu__link_active):hover {
  border-bottom: 5px solid #dc7000;
}

/* Hero */

.hero {
	padding-bottom: 100px;
	position: relative;
	z-index: 1;
}

.hero__info {
	width: 530px;
	padding-top: 70px;
}

.subtitle {
  color: #E87D0E;
  font-size: 20px;
  font-weight: 600;
}

.hero__title {
  font-size: 50px;
  font-weight: 600;
}

.hero__text {
  font-weight: 500;
  line-height: 170%;
  margin: 30px 0;
}

.hero__btn,
.hero-about__btn {
  background: #FA8305;
  color: #fff;
  border-radius: 50px;
  padding: 15px 30px;
  border: 0;
  transition: all 500ms ease;
  font-size: 17px;
  cursor: pointer;
}

.hero__btn:hover,
.hero-about__btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.hero__img {
  position: absolute;
  top: -150px;
  right: 0;
}

/* Секция с играми */

.trending {
  padding-top: 50px;
}

.trending__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trending__title {
  font-weight: 700;
  font-size: 31px;
}

.see-all-btn {
  text-transform: uppercase;
  color: #fff;
  background: #25211d;
  border-radius: 5px;
  padding: 12px 23px;
  display: block;
  transition: all 500ms ease;
}

.see-all-btn:hover {
  transform: scale(1.1);
}

.games {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px 0;
}

.games__text {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.games__img {
  position: relative;
  top: 5px;
  margin-right: 7px;
}

/* Большой текст */

.big-text {
	padding: 50px 0;
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	width: 800px;
}

/* Баннер */

.banner {
	padding: 80px 0;
}

.banner__title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

.banner__text {
  line-height: 170%;
  margin-bottom: 30px;
  width: 550px;
}

.banner__img {
  width: 100%;
  margin-bottom: 30px;
}

/* Features */

.features {
	background: url("../img/BG.png") no-repeat center center fixed;
	background-size: cover;
	padding: 80px 0;
}

.features__title,
.features__text {
  margin-bottom: 20px;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.features__title {
  font-size: 30px;
}

.features__info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.features__block {
  text-align: center; 
  width: 20%; 
  margin: 30px 2%;
}

.features__img {
  margin-bottom: 15px;
}

/* Projects */

.projects {
	padding: 100px 0;
}

.projects__title {
  font-size: 30px;
  text-align: center;
}

.projects__text {
  margin: 40px 0;
  text-align: center;
}

.projects__images {
  margin-bottom: 72px;
}

.projects__row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
}

.see-all {
  width: 60px;
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
}

/* Email */

.email {
	padding-bottom: 120px;
}

.email__title {
  margin-top: 60px;
  font-size: 30px;
}

.email__block {
  background: #1C140F;
  margin-top: 30px;
  border-radius: 10px;
  padding: 40px 3%;
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email__block-title {
  font-size: 30px;
  font-weight: 500;
}

.email__text {
  width: 500px;
}

.email__input {
  background: #fff;
  outline: none;
  border: 0;
  border-radius: 8px;
  width: 380px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 20px 30px;
  position: relative;
  right: -100px;
  z-index: 1;
  padding-right: 120px;
}

.email__input::placeholder {
  color: #898989;
}

.email__btn {
  cursor: pointer;
  border: 0;
  padding: 13px 17px;
  position: relative;
  z-index: 2;
  color: #fff;
  border-radius: 8px;
}

/* Страница "о нас" */

.hero-about {
  display: flex;
  justify-content: space-between;
}

.hero-about__container {
/*  margin: 0;*/
}

.hero-about__info {
  max-width: 500px;
  padding: 250px 0;
}

.hero-about__title {
  margin-bottom: 15px;
  font-size: 30px;
}

.hero-about__btn {
  margin-top: 20px;
}

/* Work */

.work {
	padding: 80px 0;
}

.work__title {
  font-size: 25px;
  margin-bottom: 40px;
}

.work__blocks {
  display: flex;
  justify-content: space-between;
}

.work__block {
  width: 25%;
  border-radius: 10px;
  padding: 50px 35px;
  background: #1c140f;
}

.work__block-title {
  font-size: 20px;
  margin: 20px 0;
}

.badge {
  border-radius: 7px;
  padding: 10px 20px;
}

.badge--purple {
  background: #560f67;
}

.badge--brown {
  background: #31190d;
}

.badge--green {
  background: #192a1d;
}

/* Страница с контактами */

.hero-contacts__title {
  margin-top: 70px;
  margin-bottom: 30px;

  text-align: center;
  font-size: 30px;
}

.hero-contacts__text {
  text-align: center;
}

.hero-contacts__img {
  display: block;
  width: 70%;
  margin: 80px auto;
}

/* Форма */

.feedback {
	padding: 70px 0;
	background: url("../img/form-bg.jpg") no-repeat center center fixed;
	background-size: cover;
}

.feedback__title {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
}

.feedback__text {
  text-align: center;
  margin-top: 10px;
}

.feedback__form {
  margin: 80px auto;
  width: 600px;
}

.form__inline {
	display: flex;
	justify-content: space-between;
}

.feedback__label {
  width: 50%;

  text-transform: capitalize;
  font-size: 14px;

  color: #4f4f4f;
}

.feedback__input,
.feedback__textarea {
  background: #2c2420;
  border-radius: 10px;
  border: 0.6px solid #cecece;
  display: block;
  width: 90%;
  padding: 15px 10px;
  outline: none;
  color: #fff;
  margin-top: 6px;
  margin-bottom: 20px;
}

.feedback__one-line {
  width: 96%;
}

.feedback__textarea {
  resize: none;
  height: 232px;
}

.feedback__btn-wrap {
  display: flex;
  justify-content: end;
}

.feedback__btn { 
  padding: 15px 35px;
  margin-right: 3%;

  border-radius: 10px;
  color: #fff;
}

/* Футер */

.footer {
  padding: 50px 0;
  background: #000;
}

.footer__container {

}

.footer__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer__text {
  width: 300px;
  margin: 15px 0;
}

.footer__title {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 15px;
}

.footer__link {
  line-height: 1.85;
  color: #ffffff;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__copy {
  padding-top: 30px;

  text-align: center;
  font-size: 13px;
  line-height: 1.9;

  border-top: 0.6px solid #cccccc;
}
