@media (max-width: 845px) {
  .menu-ul__item + 
  .menu-ul__item {
    margin-left: 70px;
  }
}

@media (max-width: 770px) {
	.logo {
		&__name {
	    display: none;
	  }
	  &__img {
	  	margin-right: 0;
	  }
	}
}

@media (max-width: 600px) {
  .burger-wrap {
    display: block;
  }
  .menu-ul {
  	width: 100%;
  	position: absolute;
  	top: 70px;
  	left: 0;
		display: none;
		border-top: 1px solid rgba(0,0,0,.3);
		width: 100%;
		text-align: center;
		margin: 0;
		font-size: 14px;
		&__item {
			padding: 10px 0;
			border: 1px solid rgba(0,0,0,.3);
			border-top: 0;
			background-color: #fff;
			& + & {
				margin-left: 0;
			}
		}
		&__lnk {
			display: block;
			// start disable hover effects
			&, &:hover {
				padding: 0;
				border: 0;
			}
			// end disable hover effects
		}
	}
}

@media (min-width: 601px) {
	.menu-ul {
		display: flex !important;
	}
}