@media (max-width: 845px) {
  .menu-ul__item + 
  .menu-ul__item {
    margin-left: 70px;
  }
  .row {
  	flex-direction: column;
  	text-align: center;
  }
  .box-items-right {
  	text-align: center;
  }
}

@media (max-width: 770px), (max-height: 750px) {
	.header {
		background-color: #fff;
	}
}

@media (max-width: 770px) {
	.logo {
		&__name {
	    display: none;
	  }
	  &__img {
	  	margin-right: 0;
	  }
	}

	.row-content {
		&, &-right {
			flex-direction: column;
		}
		&__img-wrap {
			width: 100%;
		}
		&__body {
			margin-bottom: 20px;
		}
	}

	.header {
		&__inner {
			margin-top: 10px;
			margin-bottom: 10px;	
		}
	}

	.section {
    padding-top: 60px;
	}

	.list-item {
		width: 50%;
	}
}

@media (max-width: 600px) {
  .burger-wrap {
    display: block;
  }
  .menu-ul {
  	width: 100%;
  	position: absolute;
  	top: 53px;
  	left: 0;
		display: none;
		border-top: 1px solid rgba(0,0,0,.3);
		width: 100%;
		text-align: center;
		margin: 0;
		font-size: 14px;
		&__item {
			padding: 10px 0;
			border: 1px solid rgba(0,0,0,.3);
			border-top: 0;
			background-color: #fff;
			& + & {
				margin-left: 0;
			}
		}
		&__lnk {
			display: block;
			// start disable hover effects
			&, &:hover {
				padding: 0;
				border: 0;
			}
			// end disable hover effects
		}
	}
	.logo {
		&__name {
	    display: block;
	  }
	  &__img {
	  	margin-right: 18px;
	  }
	}
}

@media (max-width: 550px) {
	.info {
		&__title,
		&__feature {
			font-size: 36px;
			margin: 30px 0;
		}
		&__subtitle {
			margin: 40px 0;
		}
		&__text {
			margin-bottom: 30px;
		}
	}
}

@media (max-width: 500px) {
	.list-item {
		width: 100%;
		&__inner {
			max-width: 70%;
		}
	}
}

@media (min-width: 601px) {
	.menu-ul {
		display: flex !important;
	}
}