@import "fonts";

//////// DATA ////////

// colors
$color-main: #ff096a; 		// menu-active
$color-second: #ff4d87; 	// logo
$color-lighter: #ff5b97; 	// заголовки
$color-text: #333333;
// fonts
$font-main: 'Proxima Nova', sans-serif;
$font-cursive: "Corinthia", serif;
@mixin font-main {
	font-family: $font-main;
	font-weight: 300;
	font-style: normal;
}



//////// MAIN STYLES ////////

a {
	color: inherit;
	text-decoration: none;
}

body {
	@include font-main;
	color: $color-text;
	font-size: 15px;
	background: #fff;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}




//////// ELEMENTS ////////

.section {
	padding-top: 82px;
	&-title {
		text-align: center;
		font-weight: 600;
		font-size: 30px;
		margin-bottom: 95px;
	}
	&-subtitle {
		text-align: center;
		font-size: 14px;
		max-width: 190px;
		margin: 0 auto;
		font-style: italic;
		margin-top: -62px;
		margin-bottom: 50px;
	}
	&__btn-move-down {
		margin-right: 0;
		margin-left: auto;
	}
}

.logo {
	font-weight: 600;
	font-size: 24px;
	display: flex;
	align-items: center;
	&__select-text {
		color: $color-second;
	}
	&__img {
		margin-right: 18px;
	}
}

.btn {
	display: block;
	border: none;
	outline: none;
	cursor: pointer;
	background: transparent;
	padding: 25px 0;
	width: 200px;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	&_black {
		border: 1px solid #000;
		color: $color-text;
		&:hover {
			color: lighten($color-text, 10%);
		}
	}
	&_colored {
		background: #FF2462 linear-gradient(to right, #FFA3BD 0%, #FF2462 0%, #FF4D87 100%);
		color: #fff;
		padding: 0;
		height: 60px;
		// start hover effect
		position: relative;
		z-index: 1;
		&::before {
			background: #FF4D87 linear-gradient(70deg, lighten(#FFA3BD, 5%) 0%, lighten(#FF2462, 5%) 0%, lighten(#FF4D87, 5%) 100%);
			content: '';
			display: block;
			position: absolute;
			top: 0; 
			left: 0;
			opacity: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			transition: opacity ease-in-out .5s;
		}
		&:hover::before {
			opacity: 1;
		}
		// end hover effect
	}


	&-move-down {
		width: auto;
		padding: 0;
		color: #000;
		opacity: .2;
		margin-top: 3em;
		transition: .3s;
		&::after {
			content: '';
			display: inline-block;
			width: 11px;
			height: 9px;
			margin-left: 5px;
			background-repeat: no-repeat;
			background-image: url(../img/btn-move-down/right-arrow.png);
			background-image: linear-gradient(transparent, transparent), url(../img/btn-move-down/right-arrow.svg);
		}
		&:hover {
			opacity: 1;
		}
	}
}


.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	&-item {
		width: 33.33333333%;
		margin-bottom: 50px;
		&__inner {
			max-width: 160px;
			text-align: center;
			margin: 0 auto;
		}
		&__title {
			font-weight: 600;
			margin-top: 35px;
			margin-bottom: 25px;
		}
	}
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.row-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&-right {
		flex-direction: row-reverse;
	}

	&__body {
		padding: 0 15px;
		&-right {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			text-align: right;
		}
	}

	&__img {
		width: 55%;
	}
}

.input {
	display: block;
	border: none;
	outline: none;
	background: transparent;
	&-file {
		// hide input
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
		&__label {
			margin-left: 10px;
			cursor: pointer;
			&::before {
				content: '';
				display: inline-block;
				position: relative;
				top: 2px;
				left: 0;
				width: 20px;
				height: 15px;
				background-repeat: no-repeat;
				background-image: url(../img/input-file/icon.png);
				background-image: linear-gradient(transparent, transparent), url(../img/input-file/icon.svg);
				opacity: .2;
				transition: all .3s;
			}
			&:hover {
				color: #000;
			}
			&:hover::before {
				opacity: 0.5;
			}
		}
	}
}

//////// BURGER ////////

.burger {
	display: none;
  height: 30px;
  width: 30px;
  position: relative;
  cursor: pointer;
	&-wrap {

	}
}



//////////////////////////////////////////////////////
//////////////////////SECTIONS////////////////////////
//////////////////////////////////////////////////////



//////// HEADER ////////

.header {
	font-weight: 600;
	max-height: 82px;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 30px;
		margin-bottom: 15px;
	}
	&_fixed {
		position: fixed;
		width: 100%;
		background: #fff;
		z-index: 100;
	}
}

.menu-ul {
	display: flex;
	list-style: none;
	text-transform: uppercase;
	padding: 0;
	font-size: 12px;
	&__item + &__item {
		margin-left: 104px;
	}
	&__lnk {
		transition: .5s;
		border-bottom: 1px solid transparent;
		&:hover {
			color: saturate($color-text, 20%);
			padding-bottom: 5px;
			border-bottom: 1px solid saturate($color-text, 20%);
		}
		&_active {
			color: $color-main;
			&:hover {
				color: saturate($color-main, 20%);
				border-color: saturate($color-main, 20%);
			}
		}
	}
}




//////// INFO ////////
.info {
	&__title {
		font-weight: 600;
		font-size: 45px;
		max-width: 440px;
	}
	&__subtitle {
		font-weight: 600;
		font-size: 30px;
		margin-bottom: 100px;
		max-width: 430px;
	}
	&__feature {
		font-family: $font-cursive;
		font-weight: 400;
		font-style: normal;
		color: $color-lighter;
		font-size: 44px;
		margin: 55px 0;
		&-title {
			margin: 0;
			margin-bottom: 30px;
		}
	}
	&__text {
		font-size: 16px;
		margin-bottom: 60px;
		font-family: "Proxima Nova";
		font-weight: 300;
		font-style: normal;
		max-width: 320px;
	}
}




//////// BOX ////////

.box {
	&-item {
		margin-bottom: 80px;
		&__title {
			font-weight: 600;
			margin: 25px 0;
		}
	}
	&-items-right {
		text-align: right;
	}
}




//////// MAP ////////

.map {
	&__map-wrap {
		width: 100%;
	}
	&__img {
		width: 100%;
	}
}




//////// CONTACT ////////

.contact {
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&-form {
		&__input {
			padding: 20px 10px;
			width: 200px;
			border-bottom: #ddd solid 2px;
			color: #222;
			margin-bottom: 15px;
			transition: .3s ease-out border-color;
			&::placeholder {
				color: #868686;
				font-size: 12px;
			}
			&:focus {
				border-color: darken(#ddd, 20%);
			}
		}
		&__input-file-label {
			display: inline-block;
			margin: 15px 0 30px 10px;
		}
	}
}