// colors
$color-main: #6c63ff;
$color-main-light: #000fff;
$color-second: #b5b1ff;
$color-lighten: #a69eff;
$color-bg: #fff;
$color-text: #3f3d56;
$color-text-lighten: #575a89;

// fonts
$font-main: 'Roboto', 'Arial', sans-serif;