@import "vars";
@import "libs";
@import "fonts";
@import "global";

.logo {
	font: {
		size: 30px;
		style: italic;
	}
	color: $color-main;
	text-transform: uppercase;
	transition: .3s;

	&__lnk:focus,
	&__lnk:hover,
	&__lnk:focus .logo,
	&__lnk:hover .logo {
		color: $color-main-light;
		outline: 0;
	}
}

.menu {

	&__ul {
		display: flex;
	}

	&__lnk {
		color: $color-text-lighten;
		transition: padding .3s;

		&:hover,
		&:focus {
			color: $color-main-light;
			outline: 0;
		}

		&.active {
			transition: padding .3s;
			padding-bottom: 10px;
			border-bottom: 2px solid $color-text;
		}
	}

	&__item +
	&__item {
		margin-left: 65px;
	}
}

.row-header-and-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 25px 0;
}

.header {
	position: fixed;
	z-index: 10;
	background-color: $color-bg;

	font-size: 25px;
	font-weight: 400;

	width: 100%;
}

.topscreen {
	padding: 540px 0 420px;
	background: url("../img/sections/topscreen.png") no-repeat 50%;

	&__inner {
		max-width: 67%;
		margin: 0 auto;
	}

	&-form {
		max-width: 210px;
		width: 100%;

		&__input +
		&__input {
			margin-top: 35px;
		}

		&__btn {
			margin-top: 100px;
		}
	}

	&-form-login__input {
		border-color: #abacc4;
		background-color: $color-second;
	}
}

.row-content {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&_reverse {
		text-align: right;
	}

	&__main {
		width: 51.282%;
	}
}

.about {
	font-size: 50px;
	line-height: 80px;
	font-weight: 500;
	padding-bottom: 460px;
	
	background: {
		image: url("../img/sections/about.png");
		repeat: no-repeat;
		position: 50%;
	}

	&__inner {
		margin-left: 150px;
	}

	&__title {
		margin-bottom: 140px;
	}

	&__text {
		max-width: 65%;
	}

	&__text_bottom {
		margin-top: 410px;
		margin-left: auto;
	}
}


.contact {
	font-size: 40px;
	padding-bottom: 170px;

	&__inner {
		margin-left: 100px;
	}

	&-form {
		max-width: 420px;
		width: 100%;

		&__btn {
			max-width: none;
			text-transform: none;
			margin-top: 40px;
		}
	}
}


.footer {
	font-size: 22px;
	font-style: italic;
	font-weight: 400;
	color: $color-main;

	&__inner {
		padding: 30px;
	}
}

// stop write code

@import "media";