@keyframes scrollBtnSlideInUp
  0%
    transform: translate(-50%, calc(100% + 7px))

  100%
    transform: translate(-50%, 0)

@keyframes cookiesSlideInRight
  0%
    transform: translateX(calc(100% + 30px))

@keyframes cookiesSlideInRightWithOffset
  0%
    transform: translateX(185%)

@keyframes spin
  100%
    transform: rotate(359deg)

@keyframes spinWithOffset
  100%
    transform: translateX(-50%) rotate(359deg)

@keyframes scrollingBg
  100%
    transform: translateX(-33.333%)
