@use 'vars' as *
  
body
  display: flex
  flex-direction: column
  min-height: 100vh

  font: 400 16px $main-font
  line-height: $normal-lh
  letter-spacing: 0
  
  background-color: $primary-color
  color: $black

  &::before
    content: ''
    background-color: rgba($black, 0)
    transition: background-color 0.3s

  &.locked
    overflow: hidden

    &::before
      position: fixed
      top: 0
      bottom: 0
      left: 0
      right: 0
      z-index: 998

      background-color: rgba($black, 0.5)
  

.page
  flex: 1 0 auto
  background-color: $primary-color

.container
  max-width: 1110px + 20px
  margin: 0 auto
  padding: 0 10px

.section
  overflow: hidden

.images-rotate
  &__img
    position: absolute
    transition: transform 0.3s, top 0.3s, bottom 0.3s, left 0.3s, right 0.3s

    &:first-child
      z-index: 1

    &:nth-child(2)
      z-index: 2

    &:last-child
      z-index: 3

    &--show
      &:first-child
        transform: rotate(15deg)

      &:nth-child(2)
        transform: rotate(-15deg)

.round-icon
  position: relative

  &::before
    content: ''
    position: absolute
    left: 160px
    z-index: 4

    width: $round-icon-size
    height: $round-icon-size

    @extend %bg-contain

.notify
  position: relative

  padding: 11px 0
  text-align: center

  background-color: $black
  color: $white

  &__close
    position: absolute
    top: 15px
    right: 9px

    display: block
    width: 15px
    height: 15px
    
    &:focus
      @include focus($white)

    &::before,
    &::after
      content: ''
      position: absolute
      top: 7px
      right: 0

      width: 15px
      height: 2px
      transform: rotate(45deg)
      background-color: $white

    &::after
      transform: rotate(-45deg)
  
  &__text
    padding-right: 20px

.logo
  &:focus
    @include focus

.title
  font-size: 85px
  line-height: $title-lh-2
  font-weight: 700

.btn
  display: inline-block
  padding: 10px 77px

  text-align: center
  font-size: 13px
  line-height: 1.85

  color: $white
  background-color: $black
  border-radius: 32px

  &:focus
    @include focus($white, 32px)

.animation-link
  border-bottom: 1px solid transparent
  transition: border-color 0.3s

  &:focus
    @include focus

.lang
  text-transform: uppercase

  &:focus
    @include focus

  &__menu
    position: absolute
    top: 70px
    right: 25px

    display: block
    min-width: 50px

    background-color: $primary-color
  
    transform: translateX(400%)
    transition: transform 0.3s

    &::before
      content: ''
      position: absolute
      top: -8px
      right: 9px

      border-style: solid
      border-width: 0 4px 8px 4px
      border-color: transparent transparent $primary-color transparent

    &--active
      transform: translateX(0)

  &__link
    display: block
  
    text-transform: uppercase
    text-align: center

    &:focus
      @include focus

.sr-only
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0
  white-space: nowrap
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden