@use 'vars' as *

@media (any-hover: hover)
  .animation-link:hover
    border-bottom: 1px solid $black

@media (max-width: 2020px)
  .nut-product
    margin-right: 26.7%
  
  .halva
    justify-content: start

    &__inner
      margin-right: 445px


@media (max-width: 1700px)
  .nut-product
    margin-right: 250px

  .halva__inner
    margin-right: 110px
  

@media (max-width: 1440px) 
  .nut-product
    margin-right: 95px

  .halva__inner
    margin-right: 15px

@media (max-width: 1350px)
  .images-rotate__img
    max-width: 430px
    
  .photos__img
    top: 343px
  
@media (max-width: 1200px) 
  .images-rotate__img
    max-width: 343px

  .photos__img
    top: 430px
    right: 100px

    &.images-rotate__img--show
      &:first-child
        right: 100px + 76px
      
      &:nth-child(2)
        right: 100px - 76px
      
        

@media (max-width: 992px) 
  .section__inner
    max-width: 100%
    text-align: center

  .section__text
    margin-right: auto
    margin-left: auto
  
  .images-rotate
    position: relative

    &__img
      top: 100px
      left: 50%
      right: auto

      max-width: 425px
      transform: translateX(-50%)

  .photos
    padding-bottom: 790px

    &__img.images-rotate__img--show
      &:first-child
        left: calc(50% - 76px)
        right: auto
        transform: translateX(-50%) rotate(-15deg)
      
      &:nth-child(2)
        left: calc(50% + 76px)
        right: auto
        transform: translateX(-50%) rotate(15deg)

  .store
    padding-bottom: 808px

    &__img.images-rotate__img--show
      &:first-child
        top: 100px
        left: calc(50% + 76px)
        right: auto
      
        transform: translateX(-50%) rotate(15deg)

      &:nth-child(2)
        top: 100px
        left: calc(50% - 76px)
        right: auto
      
        transform: translateX(-50%) rotate(-15deg)

  .treasures
    padding-bottom: 650px

    &__img.images-rotate__img--show
      &:first-child
        top: 100px
        left: calc(50% + 76px)
        right: auto
      
        transform: translateX(-50%) rotate(15deg)

      &:nth-child(2)
        top: 100px
        left: calc(50% - 76px)
        right: auto
      
        transform: translateX(-50%) rotate(-15deg)

@media (max-width: 768px) 
  .images-rotate__img
    max-width: 315px

@media (max-width: 576px)
  .images-rotate__img
    max-width: 47%

@media (max-width: 440px) 
  .images-rotate__img
    max-width: 37%

@media (max-width: 375px)