@use 'vars' as *
@use 'reset'
@use 'global'


// ======= HEADER ======= //

.header
  position: relative
  height: calc(100vh - 46px)
  height: calc(100dvh - 46px)

  font-size: 15px
  line-height: 1.6

  @extend %bg-cover-center
  background-attachment: fixed

  &__wrapper
    position: fixed
    top: 46px
    left: 0
    right: 0
    z-index: 3

    transition: background-color 0.3s

  &__inner
    padding: 30px 0 (139px + 2px)
    @extend %align-items-center

  &__logo
    position: absolute
    top: 31px
    left: 50%
  
    transform: translateX(-50%)

  &__btn
    position: relative

    display: none
    justify-content: center
    align-items: center
    width: 40px
    height: 40px

    transform: translateX(-5px)

    &:focus
      @include focus

    &--close
      position: absolute
      top: 10px
      right: 0
  
  &__btn-line
    position: relative

    display: block
    width: 30px
    height: 2px

    background-color: $black
    border-radius: 2px
  
    &::before,
    &::after
      content: ''
      position: absolute
      top: 10px
      
      display: block
      width: 30px
      height: 2px

      background-color: $black
      border-radius: 2px

      transition: transform 0.3s

    &::after
      top: -10px

    &--active
      background-color: transparent

      &::before
        transform: rotate(-45deg) translate(7px, -7px)

      &::after
        transform: rotate(45deg) translate(7px, 7px)

  &__list
    @extend %align-items-center
    margin-left: -3px

  &__item
    &:not(:last-child)
      margin-right: 45px

    &.header__item--separator
      margin-right: 436px

  &__link
    text-transform: uppercase

  &__lang
    position: absolute
    top: 30px
    right: 30px

  &__menu
    display: none
    


// ======= HERO ======= //

.hero
  height: calc(100vh - 225px - 46px)
  height: calc(100dvh - 225px - 46px)
  padding-top: 225px

  overflow: hidden
  box-sizing: content-box

  &__title
    margin: 0 auto

    font-size: 85px
    line-height: $title-lh-2
    font-weight: 400
    text-align: center

  &__title-span
    margin-right: 14px

    &--no-margin
      margin-right: 0
      transform: translateX(19px)
    
  &__scroll-down
    position: absolute
    bottom: 7px
    left: 50%

.cookies
  position: absolute
  bottom: 66px
  right: 30px

  @extend %align-items-center
  padding: 11px 10px 11px 24px
  min-width: 350px

  font-size: 12px
  line-height: 1.5

  background-color: rgba($black, 0.7)
  color: $white
  border-radius: 78px

  &__span
    margin-right: 23px

  &__btn
    margin-left: 143px
    padding: 0 22px 
  
    font-size: 13px
    line-height: 2.69

    border-radius: 17.5px
    background-color: $third-color
    color: $black

    &:focus
      @include focus($white, 17.5px)

.scroll-down-btn
  width: 79px
  height: 79px

  background-color: $black
  background-image: url("../img/arrow-down.svg")
  border-radius: 50%
  @extend %bg

  transform: translateX(-50%)

  &:focus
    @include focus($white, 50%)


// ======= PRODUCTS ======= //

.products
  padding: 147px 0 178px

  &__info
    margin: 0 129px 132px auto
    max-width: 506px

    &::before
      top: -75px
      left: -374px
      width: 254px
      height: 243px
      background-image: url("../img/no-gluten.svg")

  &__title
    min-width: 635px
    margin-bottom: 12px

  &__inner
    padding: 96px 0 0 48px

  &__product
    height: auto
    padding-bottom: 70px

.product
  position: relative

  display: flex
  align-items: flex-start
  flex-direction: column
  padding-top: 63px
  height: 100%

  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    z-index: -1

    width: 360px
    height: 526px

    background-color: $green
    border-radius: 275px

  &--top-offset
    margin-top: -96px

  &--brown
    &::before
      background-color: $brown

    .product__btn
      background-color: $brown

  &--blue
    &::before
      background-color: $blue

    .product__btn
      background-color: $blue

  &--yellow
    &::before
      background-color: $yellow
    
    .product__btn
      background-color: $yellow

  &__name
    display: flex
    flex-direction: column
    justify-content: flex-end
    flex: 1 1 auto
    max-width: 333px
    margin: -44px 0 8px

    font-size: 36px
    line-height: $title-lh
    font-weight: 700

  &__price
    margin-bottom: 23px
  
    font-size: 21px
    font-weight: 700

  &__btn
    display: block
    padding: 10px 47px

    font-size: 18px
    text-transform: uppercase

    background-color: $green
    border-radius: 36px

    &:focus
      @include focus($white, 36px)


// ======= PHOTOS ======= //

.photos
  position: relative
  padding: 422px 0 491px

  &__inner
    max-width: 370px

  &__title
    margin-bottom: 19px

    font-size: 85px
    line-height: $title-lh-2

  &__text
    max-width: 354px
    margin-bottom: 47px

  &__img
    top: 272px
    right: 260px
    max-width: 540px
    
    &.images-rotate__img--show
      &:first-child
        right: 260px + 76px
        transform: rotate(-15deg)

      &:nth-child(2)
        right: 260px - 76px
        transform: rotate(15deg)   


// ======= NUT ======= //

.nut
  display: flex

.nut-product
  position: relative

  padding: 95px 250px 164px 183px
  margin-right: 110px
  max-width: 835px

  border-top-right-radius: $border-radius-section
  background-color: $second-color

  &::before,
  &::after
    content: ''
    position: absolute
    bottom: 74px
    right: 19px
    z-index: 2

    display: block
    width: 350px
    height: 433px

    background-image: url("../img/nut.png")
    @extend %bg-contain

  &::after
    top: 230px
    bottom: auto
    right: 34px
    z-index: 1

    width: 86px
    height: 158px

    background-image: url("../img/hand-rock.svg")
  
  &__text
    margin-bottom: 20px

  &__price
    display: block
    margin-bottom: 46px

    font-size: 21px

  &__link
    padding: 10px 67px

  &__title
    max-width: 620px
    margin-bottom: 51px

  &__card
    max-width: 234px

  &__card-title
    max-width: 157px
    margin-bottom: 14px

    font-size: 42px
    font-weight: 700
    line-height: $title-lh

.nut-discover
  max-width: 285px
  padding-top: 86px

  font-size: 21px

  &__title
    max-width: 255px
    margin-bottom: 92px
  
    font-size: 21px
    font-weight: 400

  &__name-wrap
    display: flex
    padding-bottom: 4px
    margin-bottom: 41px

    font-size: 40px
    font-weight: 700
    line-height: 1.26

    border-bottom: 1px solid #000

  &__name
    &:focus
      @include focus

  &__num
    font-size: 16px
    line-height: 0
    font-weight: 400



// ======= SLIDER ======= //

.slider
  position: relative
  padding: 154px 0 99px

  background-color: $slider-color

  &__title
    position: absolute
    top: 128px
    left: 50%
  
    max-width: 103px

    font-size: 21px
    font-weight: 400
    text-align: center
    text-transform: uppercase

    transform: translateX(-50%)

  &__inner
    margin-bottom: 39px

  &__item
    position: relative
    padding-top: 111px + 25px

    text-align: center

    &::before
      content: ''
      position: absolute
      top: 0
      left: 50%

      display: block
      width: 93px
      height: 111px

      background-image: url("../img/slider-img.svg")
      @extend %bg-contain
    
      transform: translateX(-50%)

  &__name
    margin-bottom: 15px
    text-transform: uppercase

  .slider__pagination
    position: absolute
    bottom: 2px
    left: 50%

    display: flex
    justify-content: center
    align-items: center

    transform: translateX(-50%)

    .swiper-pagination-bullet
      width: 10px
      height: 10px
  
      background-color: transparent
      border: 1px solid $black
      border-radius: 0

      transition: background-color 0.3s, border-color 0.3s

      &:focus
        @include focus($black, 0)

    .swiper-pagination-bullet-active
      background-color: $black

      &:focus
        @include focus($white, 0)
  


// ======= STORE ======= //

.store
  position: relative
  padding: 421px 0 490px

  background-color: $third-color

  &__inner
    max-width: 336px
  
    &::before
      top: -70px - $round-icon-size
      background-image: url("../img/zero-plastic-shop.svg")

  &__title
    max-width: 460px
    margin-bottom: 19px

    font-size: 55px
  
  &__text
    max-width: 320px
    margin-bottom: 47px

  &__img
    top: 292px
    right: 199px
    max-width: 486px

    &.images-rotate__img--show
      &:first-child
        top: 260px
        right: 199px - 127px

      &:nth-child(2)
        top: 265px
        right: 199px + 132px


// ======= HALVA ======= //

.halva
  display: flex
  background-color: $third-color

  &__inner
    position: relative

    max-width: 815px
    margin-right: 15px
    padding: 90px 226px 105px 165px

    background-color: $fourth-color
    border-top-right-radius: $border-radius-section

    &::after
      content: ''
      position: absolute
      bottom: 63px
      right: 19px
      z-index: 2

      display: block
      width: 350px
      height: 385px

      background-image: url("../img/halva.png")
      @extend %bg-contain

  &__title
    margin-bottom: 53px
  
  &__subtitle
    max-width: 332px
    margin-bottom: 62px
  
    font-size: 42px
    line-height: $title-lh
  
  &__text
    max-width: 245px
    margin-bottom: 21px

  &__price
    margin-bottom: 45px
    
  &__link
    padding: 10px 70px

.wild-gift
  max-width: 445px
  padding: 431px 58px 55px

  text-align: center
  background: $red url("../img/gift.svg") center 63px no-repeat

  &__title
    margin-bottom: 46px
  
    font-size: 42px
    line-height: $title-lh

  &__link
    padding: 16px 75px


// ======= TREASURES ======= //

.treasures
  position: relative
  padding: 510px 0 210px

  background-color: $third-color

  &__inner
    max-width: 385px

    &::before
      top: -44px - $round-icon-size
      background-image: url("../img/love-first-bite.svg")

  &__title
    margin-bottom: 12px

  &__text
    margin-bottom: 57px

  &__img
    top: 394px
    right: 199px

    &.images-rotate__img--show
      &:first-child
        top: 363px
        right: 84px

      &:nth-child(2)
        top: 365px
        right: 312px


// ======= RECIEPES ======= //

.recipes
  background-color: $third-color
  padding: 150px 0 334px

  &__info
    max-width: 635px
    margin: 0 130px 195px auto

  &__title
    margin-bottom: 28px
  
  &__text
    max-width: 493px

  &__wrapper
    max-width: 1430px

  &__inner
    margin: 0 auto

.recipe
  &--with-offset
    margin-top: 55px

  &__img
    margin-bottom: 43px

  &__type
    display: block
    margin-bottom: 12px

    text-transform: uppercase

  &__name
    font-size: 42px
    line-height: $title-lh
    font-weight: 700


// ======= FOOTER ======= //

.footer
  background-color: $second-color
  padding: 135px 0 38px
  text-align: center

  &__logo
    display: inline-block
    margin: 0 auto 116px

  &__inner
    @extend %space-between
    padding-bottom: 151px
  
    text-align: left

  &__info
    margin-right: 15px
    max-width: 445px
    
  &__info-title
    margin-bottom: 38px

  &__form
    margin-bottom: 113px

  &__input
    padding: 6px 0
    min-width: 445px

    background-color: transparent
    color: $black
    border-bottom: 1px solid $black

    &::placeholder
      color: $black

  &__follow
    margin-bottom: 74px

  &__follow-title
    margin-bottom: 21px

    font-size: 32px
    font-weight: 400

  &__follow-inner
    display: flex

  &__social
    display: block
    width: 22px
    height: 22px
  
    @extend %bg-contain
    
    &:focus
      @include focus()

    &:not(:last-child)
      margin-right: 18px

  &__payment-methods
    display: flex
    margin-bottom: 20px

  &__payment:not(:last-child)
    margin-right: 14px

  &__website
    margin-right: 16px

  &__horror
    margin-right: 17px

  &__plus
    margin-right: 13px

  &__grid
    display: flex
    justify-content: center
    flex-wrap: wrap
    max-width: 570px
    margin: 0 -61px -81px 0

  &__column
    margin: 0 61px 81px 0

  &__column-wrap
    margin-bottom: 81px

  &__contact
    margin-right: 120px

  &__contact-link
    display: block

    &:not(:last-child)
      margin-bottom: 5px

  &__title
    margin-bottom: 21px

    font-size: 32px
    line-height: $title-lh

  &__item:not(:last-child)
    margin-bottom: 21px

  &__link
    text-transform: uppercase

  &__bottom
    width: 100%
    height: 120px

    @extend %bg-cover-center


@import 'media'