@use 'vars' as *
@use 'reset'
@use 'global'


// ======= HEADER ======= //

.header
  position: relative
  height: calc(100vh - 46px)

  font-size: 15px
  line-height: 1.6

  @extend %bg-cover

  &__inner
    position: relative
    padding: 30px 0 138px

    @extend %align-items-center

  &__logo
    position: absolute
    top: 31px
    left: 50%
  
    transform: translateX(-50%)

  &__list
    @extend %align-items-center

    &--first
      min-width: 370px
      margin: 0 436px 0 -3px

    &--second
      .header__item:nth-child(2)
        transform: translateX(6px)
        
      .header__item:last-child
        transform: translateX(16px)


  &__item:not(:last-child)
    margin-right: 43px

  &__link
    text-transform: uppercase

  &__lang
    position: absolute
    top: 30px
    right: 30px
    


// ======= HERO ======= //

.hero
  position: relative
  padding-top: 16px
  height: calc(100vh - 192px - 46px)

  &__title
    max-width: 600px
    margin: 0 auto

    font-size: 85px
    line-height: $title-lh-2
    font-weight: 400

    &-span
      margin-right: 14px

      &:nth-child(3)
        margin-left: -10px
      
      &:nth-child(4)
        margin-left: 13px

      &--no-margin
        margin-right: 0
    
  &__scroll-down
    position: absolute
    bottom: 7px
    left: 52.7%

.cookies
  position: absolute
  bottom: 66px
  right: 30px

  @extend %align-items-center
  padding: 11px 10px 11px 24px
  min-width: 392px

  font-size: 12px
  line-height: 1.5

  background-color: rgba($black, 0.7)
  color: $white
  border-radius: 78px

  &__span
    margin-right: 23px

  &__btn
    margin-left: 143px
    padding: 0 22px 
  
    font-size: 13px
    line-height: 2.69

    border-radius: 17.5px
    background-color: $third-color
    color: $black

.scroll-down-btn
  width: 79px
  height: 79px

  background-color: $black
  background-image: url("../img/arrow-down.svg")
  border-radius: 50%
  @extend %bg

  transform: translateX(-50%)


// ======= PRODUCTS ======= //

.products
  padding: 147px 0 178px

  &__info
    margin: 0 129px 0 auto
    max-width: 506px

    &::before
      top: -75px
      left: -374px
      width: 252px
      height: 248px
      background-image: url("../img/no-gluten.svg")

  &__title
    margin-bottom: 12px


// ======= PHOTOS ======= //

.photos
  position: relative
  padding: 422px 0 491px

  &__inner
    display: flex
    
  &__info
    max-width: 370px

  &__title
    font-size: 85px
    line-height: $title-lh-2

  &__text
    max-width: 354px
    margin-bottom: 47px

  &__img
    top: 272px
    right: 260px
    max-width: 540px
    
    &.images-rotate__img--show
      &:first-child
        right: 260px + 76px
        transform: rotate(-15deg)

      &:nth-child(2)
        right: 260px - 76px
        transform: rotate(15deg)   


// ======= NUT ======= //

.nut
  display: flex
  
  &-product
    position: relative

    padding: 95px 250px 164px 164px
    margin-right: 43.7%
    max-width: 835px
    min-height: 833px

    border-top-right-radius: $border-radius-section
    background-color: $second-color

    &::before,
    &::after
      content: ''
      position: absolute
      bottom: 74px
      right: 19px
      z-index: 2

      display: block
      width: 350px
      height: 433px

      background-image: url("../img/nut.png")
      @extend %bg-contain

    &::after
      top: 230px
      bottom: auto
      right: 34px
      z-index: 1

      width: 86px
      height: 158px

      background-image: url("../img/hand-rock.svg")

    &__title
      margin-bottom: 51px

    &__card
      max-width: 234px

      &-title
        max-width: 157px
        margin-bottom: 14px

        font-size: 42px
        font-weight: 700
        line-height: $title-lh

    &__text
      margin-bottom: 20px

    &__price
      margin-bottom: 46px
      font-size: 21px

    &__link
      padding: 10px 67px

  &-discover
    max-width: 285px
    padding-top: 88px

    font-size: 21px

    &__title
      max-width: 255px
      margin-bottom: 92px
    
      font-size: 21px
      font-weight: 400

    &__name-wrap
      display: flex
      padding-bottom: 4px
      margin-bottom: 41px

      font-size: 40px
      font-weight: 700
      line-height: 1.26

      border-bottom: 1px solid #000

    &__num
      font-size: 16px
      line-height: 0
      font-weight: 400

    &:nth-child(2)
      right: 184px   
      transform: rotate(15deg)   


// ======= SLIDER ======= //

.slider
  position: relative
  padding: 154px 0 96px

  background-color: $slider-color

  &__title
    position: absolute
    top: 128px
    left: 50%
  
    max-width: 103px

    font-size: 21px
    font-weight: 400
    text-align: center
    text-transform: uppercase

    transform: translateX(-50%)

  &__item
    position: relative
    padding-top: 136px

    &::before
      content: ''
      position: absolute
      top: 0
      left: 50%

      display: block
      width: 93px
      height: 111px

      background-image: url("../img/slider-img.svg")
      @extend %bg-contain
    
      transform: translateX(-50%)


// ======= STORE ======= //

.store
  position: relative
  padding: 421px 0 490px
  background-color: $third-color

  &__info
    &::before
      top: -39px - $round-icon-size
      background-image: url("../img/zero-plastic-shop.svg")

  &__info
    max-width: 336px

  &__title
    margin-bottom: 19px
  
  &__text
    margin-bottom: 47px

  &__img
    top: 292px
    right: 199px
    max-width: 486px

    &:first-child
      top: 260px
      right: 72px


// ======= HALVA ======= //

.halva
  display: flex
  justify-content: space-between
  background-color: $third-color

  &__inner
    position: relative

    max-width: 815px
    margin-right: 15px
    padding: 90px 226px 105px 165px

    background-color: $fourth-color
    border-top-right-radius: $border-radius-section

    &::after
      content: ''
      position: absolute
      bottom: 63px
      right: 19px
      z-index: 2

      display: block
      width: 350px
      height: 385px

      background-image: url("../img/halva.png")
      @extend %bg-contain

  &__title
    margin-bottom: 53px
  
  &__subtitle
    max-width: 332px
    margin-bottom: 62px
  
    font-size: 42px
    line-height: $title-lh
  
  &__text
    max-width: 245px
    margin-bottom: 21px

  &__price
    margin-bottom: 45px
    
  &__link
    padding: 10px 70px

.wild-gift
  max-width: 445px
  padding: 431px 58px 55px

  text-align: center
  background: $red url("../img/gift.svg") center 63px no-repeat

  &__title
    margin-bottom: 30px
  
    font-size: 42px
    line-height: $title-lh

  &__link
    padding: 16px 75px


// ======= TREASURES ======= //

.treasures
  position: relative
  padding: 510px 0 401px

  background-color: $third-color

  &__info
    max-width: 385px

    &::before
      top: -44px - $round-icon-size
      background-image: url("../img/love-first-bite.svg")

  &__title
    margin-bottom: 12px

  &__text
    margin-bottom: 57px

  &__img
    top: 394px
    right: 199px

    &:first-child
      top: 363px
      right: 84px

    &:nth-child(2)
      top: 365px
      right: 312px


// ======= RECIEPES ======= //

.recipes
  background-color: $third-color
  padding: 150px 0 334px

  &__info
    max-width: 505px
    margin: 0 130px 0 auto

  &__title
    margin-bottom: 28px
  
  &__text
    max-width: 493px


// ======= FOOTER ======= //

.footer
  background-color: $second-color
  padding: 135px 0 38px
  text-align: center

  &__logo
    display: inline-block
    margin: 0 auto 116px

  &__inner
    @extend %space-between
    padding-bottom: 151px
  
    text-align: left

  &__info
    max-width: 445px
    
    &-title
      margin-bottom: 38px

  &__input
    margin-bottom: 113px
    padding: 6px 0
    min-width: 445px

    background-color: transparent
    color: $black
    border-bottom: 1px solid $black

    &::placeholder
      color: $black

  &__follow
    margin-bottom: 74px

    &-title
      margin-bottom: 21px
  
      font-size: 32px
      font-weight: 400

    &-inner
      display: flex

  &__social
    display: block
    width: 22px
    height: 22px
  
    @extend %bg-contain

    &:not(:last-child)
      margin-right: 18px

  &__payment-methods
    display: flex
    margin-bottom: 20px

  &__payment
    display: block
    width: 36px
    height: 25px

    @extend %bg-contain

  &__payment:not(:last-child)
    margin-right: 14px

  &__website
    margin-right: 16px

  &__horror
    margin-right: 17px

  &__plus
    margin-right: 13px

  &__grid
    display: flex
    flex-wrap: wrap
    max-width: 570px
    margin: 0 -61px -81px 0

  &__column
    margin: 0 61px 81px 0

  &__contact
    margin-right: 120px

    &-link
      display: block

      &:not(:last-child)
        margin-bottom: 5px

  &__title
    margin-bottom: 21px

    font-size: 32px
    line-height: $title-lh

  &__item:not(:last-child)
    margin-bottom: 21px

  &__link
    text-transform: uppercase

  &__bottom
    width: 100%
    height: 120px

    @extend %bg-cover


@import 'media'